<p>こんにちは<%= @resource.email %>さん</p>

<p>以下のリンク先よりパスワードの変更が行えます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに見覚えがなければ、お手数ですが削除をお願い致します。</p>
<p>今後ともTicket&emsp;Naviのご利用を宜しくお願い致します。</p>
