<% content_for :title do %>
出品済みチケット変更画面 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div align="center">
  <h1>出品中チケット内容変更ページ</h1>
  <p>⭐️こちらは出品済み販売チケットの<span style="color:#ff0000;">編集</span>を行う為のページです。⭐️</p>
  <p>万が一間違えた場合でも、他のユーザーから購入される前なら<span style="color:#ff0000;">出品内容は変更可能</span>です。</p>
    <br /><br />
  </div>
  <div class="text-area">
    <%= render 'form' %>
   <br /><br />

  </div>

