<% content_for :title do %>
チケット出品画面 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div align="center">
  <h1>チケット出品の手続き画面</h1><br />
   <p>⭐️簡単な記入のみで出品可能‼︎上から順番に記入やチェックを行って下さい⭐️<br />
    万が一間違えた場合でも、他のユーザーから購入される前なら<span style="color:#ff0000;">出品内容は変更可能</span>です。</p>
    <br /><br />
  </div>
  <div class="text-area clearfif">
<%= render 'form' %>

  </div>