<br />
<% content_for :title do %>
A.B.C-Zのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️A.B.C-Zのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>グループ名は、Acrobat Boys Club の略にZを加えたもので、エービーシーズィーと読みます。メンバーは、橋本良亮（はしもとりょうすけ）、戸塚祥太（とつかしょうた）、河合郁人（かわいふみと）、五関晃一（ごせきこういち）、塚田僚一（つかだりょういち）。2001年から2008年頃までは「A.B.C.（エー.ビー.シー.）」として活動していた。テレビ、ラジオ、舞台など幅広く活動し2016年は MUSIC JAPAN、寝盗られ宗介、A.B.C-Z 橋本・河合W主演舞台 コインロッカーベイビーズなどに出演することが予定されている。</p>
</div>

<%= render 'form' %>