<% content_for :title do %>
AI(アイ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️AI(アイ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>
R&B特有のメロディにJ-POPのテイストを盛り込ませ、ブラックミュージックリスナー以外へのアピールも図っている。多様なバラエティを持つトラック群を余裕タップリに乗りこなせる、高い歌唱スキルを持っている。<br />
   2006年にリリースした「Believe」は、フジテレビ系テレビドラマ「医龍-Team Medical Dragon-」の主題歌に起用され、オリコン自己最高位、最高の初動売上枚数を記録した。<br />
  また、2011年発売の「ハピネス」は『コカ・コーラクリスマスキャンペーン』のCMソングに起用され、ダウンロード件数250万件を突破。<br />
  2012年度のiTunesの年間ランキング「iTunes Best of 2012」で、トップセールスソングにおいて年間3位を獲得するなど、大ヒットとなった。<br />
  現在まで、平井堅、安室奈美恵、DABO、SPHERE of INFLUENCE、Char、HI-D、ZEEBRAらの楽曲に客演している。<br />
  </p>
</div>
  <%= render 'form' %>