<% content_for :title do %>
aikoのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️aikoのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>aiko（アイコ）は、大阪出身の女性シンガーソングライター。ファンクラブ名は「BABY PEENATS」。<br />
  「カブトムシ」「ボーイフレンド」「キラキラ」など多数のヒット曲を発表している。
   幅広い音楽性と世界観は彼女ならでは。「プラマイ」や「もっと」のPVではaikoワールドが繰り広げられていて大きな話題を集めた。<br />
   20154月18日ZEPP TOKYOを皮切りにライブハウスをまわるツアー『Love Like Rock』としては自身最長、最大規模となる『Love Rike Rock Vol.7』を全国7都市のライブハウスにて25公演を開催。開催中の7月27日、ZEPP TOKYO公演の本編終了直後に3年ぶり5度目となる野外ゲリラフリーライブ『Love Like Aloha Vol.5』を開催する事をサプライズ発表。8月30日にサザンビーチちがさきにて開催。10月17日公開の映画『先輩と彼女』の主題歌に新曲「合図」が起用される。</p>
</div>
  <%= render 'form' %>