<% content_for :title do %>
赤西 仁のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️赤西 仁のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>男性アイドルグループ・KAT-TUNの元メンバーである。元所属事務所はジャニーズ事務所で、2014年2月28日付で退社した。<br />その後、2014年7月4日に公式サイトおよびファンクラブを設立し、活動を再開。現在は事務所に所属しておらず個人で活動している。<br />
  2015年、中国の北京市で開催された授賞式『愛奇芸尖叫之夜』で、「アジア人気アーティスト賞」と「年度音楽大賞」の2つの賞を日本人として初めて受賞。
2016年、中国のミュージックアワードを受賞した。</p>
</div>
 <%= render 'form' %>