<% content_for :title do %>
akiko(アキコ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️akiko(アキコ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2001年6月、アルバム『GIRL TALK』でユニバーサルミュージック傘下のヴァーヴ・レコードよりデビュー。同レーベルでは初の日本人女性シンガー。<br />また、このアルバムでスイングジャーナル誌主催2001年ジャズディスク賞＜ニュースター賞＞を受賞する。<br />
  シンガーとしてだけではなく、ソングライティング、アレンジ、アートディレクションに至るまでセルフ・プロデュースを精力的にこなしている。クールで都会的なボーカルとファッションを含めたライフスタイルが多くの支持を集めている。</p>
</div>
  <%= render 'form' %>