<% content_for :title do %>
劇団四季『アラジン』のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️劇団四季「アラジン」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>劇団四季「アラジン」はディズニー映画「アラジン」を元にして作られたミュージカル作品である。1992年の劇場版長編アニメーションから22年。 アニメーションのテイストはそのままに、ブロードウェイの中心的クリエイターが集結してダイナミックかつゴージャスに甦った本作。2014年3月の開幕以来、連日のスタンディングオベーションが続き、週間興行収入も常にトップクラスに位置しているブロードウェイ公演は、現代の観客からの圧倒的な支持を得る、その名の通りの大ヒットミュージカルとなった。<br />同年6月のトニー賞では、作品賞含む5部門にノミネート。うち、最優秀助演男優賞を獲得している。その最新ミュージカルが、世界のどの国よりも早く日本に上陸。</p>
</div>
  <%= render 'form' %>