<% content_for :title do %>
ALICE SARA OTTのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ALICE SARA OTTのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ドイツ・ミュンヘン出身のピアニスト。主にドイツ語圏を中心とした地域におけるコンクールの優勝経験をもつ。オーストリアのザルツブルクにあるモーツァルテウム音楽大学でカール＝ハインツ・ケマリンクに師事。<br />1995年 ドイツ連邦青少年音楽コンクール優勝、スタインウェイ国際コンクール優勝。イタリア・リゲティ国際コンクール優勝 ハンブルク・スタインウェイコンクール優勝および特別観客賞受賞。
 グロートリアン・シュタインヴェークピアノコンクール優勝。カール・ラングピアノコンクール優勝。カール・ラングピアノコンクール優勝。など輝かしい実績がある。</p>
</div>
  <%= render 'form' %>