<% content_for :title do %>
雨宮 のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️雨宮 天のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2011年に開催された第2回ミュージックレインスーパー声優オーディションで、麻倉もも、夏川椎菜ともに合格し、翌2012年に声優としてデビュー。<br />2014年にテレビアニメ『一週間フレンズ。』の藤宮香織役で初めてヒロイン役を演じ、エンディング曲としてスキマスイッチの「奏（かなで）」を藤宮香織名義でカバーした。同年7月、テレビアニメ『アカメが斬る!』のアカメ役で主役を演じ、同作のオープニング曲「Skyreach」でミュージックレインからアーティストデビュー。<br />
同年末には麻倉もも、夏川椎菜とともに声優ユニット「TrySail」を結成した。
2015年、第9回声優アワード新人女優賞を受賞しました。</p>
</div>
 <%= render 'form' %>