<% content_for :title do %>
安室 奈美恵のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️安室 奈美恵のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>アクターズ内で結成されたダンスグループ“SUPER MONKEY'S”のメンバーに選出され、1992年より芸能活動を開始。<br />
  「Chase the Chance」「Don't wanna cry」「You're my sunshine」「a walk in the park」「SWEET 19 BLUES」「CAN YOU CELEBRATE?」などヒット曲を数多く持つ。<br />また1996年 - 1997年、茶髪のロングヘアー・ミニスカート・細眉・厚底ブーツなどといった彼女のファッションスタイルや髪型、メイクなどに憧れる若い女性たち、いわゆる“アムラー”が大量発生した「アムラー・ブーム」を巻き起こし、社会現象となった。<br />
  2016年8月から2017年3月まで、自身最多公演数となる33会場88公演の全国ホールツアーnamie amuro LIVE STYLE 2016-2017を開催予定。</p>
</div>
 <%= render 'form' %>