<% content_for :title do %>
安藤 美姫のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️安藤 美姫のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>安藤美姫(アンドウミキ)は、愛知県名古屋市出身の元フィギュアスケート選手であり、「ミキティ」の愛称で呼ばれることもあります。スケートは8歳からはじめ、1998年「全日本ノービス選手権」が初出場の大会であり、Bクラスで3位に入賞しています。その後も多数の大会へ出場し、優勝と連覇を重ねていきます。また、2002～2003年開催「JGPファイナル」で4回転ジャンプ(サルコウ)を成功させた唯一の女子選手です。<br />
   2013年12月に引退するまでの間、オリンピックや世界選手権をはじめ国内外問わず数多くの大会へ出場し、華々しい成績を残しています。更にはスケーター・オブ・ザ・イヤーなど多数のスポーツ賞や、ネイル・クイーンのスポーツ部門(2013・2014年)、ベストジーニスト(2014年)など、スケート以外の分野でも賞を受けています。</p>
</div>
 <%= render 'form' %>