<% content_for :title do %>
それいけ!アンパンマン ミュージカルのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️それいけアンパンマンのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>多彩な曲でアンパンマンたちが踊るミュージカルショーとなっており、大人も子供も一緒に楽しめるのが最大の魅力。 背景や照明など充実した演出で、アンパンマンの世界を味わうことができる。 今回は、アンパンマン、しょくぱんまん、カレーパンマンほか、メロンパンナちゃんとロールパンナも大活躍！ また、アンパンマンの主題歌を歌っている、ドリーミングも出演決定を決定している。</p>
</div>
  <%= render 'form' %>