<% content_for :title do %>
荒川 静香のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️荒川 静香のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>主な競技成績は、2006年トリノオリンピック女子シングル金メダル、2004年世界選手権優勝、1998年長野オリンピック代表（13位）、1997年・1998年全日本選手権2連覇、2003年ユニバーシアード冬季大会・冬季アジア競技大会・2004年NHK杯各優勝、2004年GPファイナル2位など。<br />
  大きく上体を反らせた「レイバック・イナバウアー」は特徴的。トリノオリンピック後はものまねが流行し、2006年の新語・流行語大賞を受賞するまでになった。<br />
  現在はプロスケーターとして「プリンスアイスワールド」（メインキャスト）、「スターズオンアイス」日本公演等に出演しながら、毎年「フレンズ・オン・アイス」、さらに不定期ながら「クリスマス・オン・アイス」をプロデュースし、自身も出演している。またフィギュアスケート競技のシーズン中は、解説者としても活躍している。</p>
</div>
<%= render 'form' %>