<% content_for :title do %>
浅田 真央のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️浅田 真央のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>浅田真央(アサダマオ)は日本の女子フィギュアスケーターで、姉は同じく元フィギュアスケーターの浅田舞です。愛知県名古屋市の出身で、5歳の時から姉と一緒にフィギュアスケートを始め、名古屋にあるスケートクラブに所属していました。 <br />小学校6年生の時には全日本選手権でコンビネーションジャンプを跳び、天才少女と言われるようになり、その後世界選手権や日本ジュニア選手権等、出場した大会で優勝をし国内でも注目を集めるようになります。 初めて出場したオリンピックは2010年に行われたバンクーバーオリンピックで、見事銀メダルを獲得しました。<br />
  それから4年後のソチオリンピックでは、ショートプログラムで16位という予想外の結果になりましたが、フリーでは完璧に演じ、最終順位は6位でも素晴らしい演技に世界中が感動しました。</p>
</div>
<%= render 'form' %>