<br />
<% content_for :title do %>
アトミック(ATOMIC)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️アトミック(ATOMIC)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>アトミック(ATOMIC)のチケット売買ならチケットナビ！ アトミック(ATOMIC)のチケット到着まで代金は運営預かり。<br />
  チケットが届かない場合は全額返金。さあ売買開始だ！
</p>
</div>
<%= render 'form' %>