<% content_for :title do %>
絢香のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️絢香のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>絢香は、日本の女性シンガーソングライター。夫は俳優の水嶋ヒロとしても有名。<br />
  第48回日本レコード大賞で最優秀新人賞を受賞。『NHK紅白歌合戦（第57回）』に初出場。<br />
  活動休止を経て、
   2014年、NHKの朝の連続テレビ小説『花子とアン』の主題歌に「にじいろ」が採用され、話題となる。 <br />2015年4月15日には3年振りとなるオリジナルフルアルバム「レインボーロード」をリリース。同年11月からはアルバムを引っ提げた全国TOUR「絢香 レインボーロードTOUR 2015-2016～道は続くよ～」が開催。代表曲は「I believe」「三日月」等がある。</p>
</div>
<%= render 'form' %>