<% content_for :title do %>
BABYMETAL(ベビーメタル/ベビメタ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️BABYMETAL(ベビーメタル/ベビメタ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>女性3人組メタルダンスユニット。2010年に「アイドルとメタルの融合」をテーマに結成された。<br />
  公式のファンクラブは運営されておらず、アクセスコード付きのグッズを購入することにより登録できるメンバーズサイトが存在する。メンバーズサイトの名前は、2014年度が「BABYMETAL APOCALYPSE WEB」[、2015年度が「-THE ONE-」、2016年度が「THE ONE」となっており、利用には「METALネーム」というアカウント名の登録が必要である。また、特典はチケット先行予約、WEB会員限定ライブ、WEB会員限定グッズの購入権などであり、会報紙の発行や動画の配信などは行っていない。
なお、WEB会員限定ライブの内、性別限定ライブにはドレスコードがあり、2015年度の公演では、男性客は会員Tシャツの着用かつコープス・ペイント、女性客は赤い物の着用または特定の髪型などが指定された個性的なライブも行う。</p>
</div>
<%= render 'form' %>