<% content_for :title do %>
劇団四季「美女と野獣」のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️劇団四季「美女と野獣」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「美女と野獣」はフランスの民話を基に、ディズニーが演劇界に初進出した作品です。その中のアニメーションを劇団四季が忠実にミュージカル化して登場。父の身代わりに野獣との暮らしを申し出た美しい娘ベル。野獣はベルの優しい心に触れ、次第に愛することを知る。しかし野獣には魔女によってある魔法がかけられてあったのです。<br />
  人は本当の愛を知ることで生まれ変われるというメッセージが込められた作品です。「美女と野獣」「ディズニー」が好きな人はもちろん、子供から大人まで楽しめるストーリーと演出で誰もが「美女と野獣」に魅了される。</p>
</div>
<%= render 'form' %>