<% content_for :title do %>
ミュージカル バイオハザード～ヴォイス・オブ・ガイアのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ミュージカル バイオハザード～ヴォイス・オブ・ガイアのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>バイオハザード(BIOHAZARD)は全世界で累計6500万本売上げ、ハリウッドでも映画がシリーズ化されている日本が誇る人気ゲーム。今回の舞台にあたって、主演を務めるのは10年に一人の逸材と言われた 元宝塚歌劇団 星組トップスター 柚希礼音。そして演出家G2は、「マイ・フェア・レディ」「嵐が丘」など、多岐にわたり活動している。<br />
  襲いかかってくるゾンビとの、サバイバルホラーがここに幕をあける！ミュージカル バイオハザードは、柚希礼音ファンならずとも是非、観たい。</p>
</div>
 <%= render 'form' %>