<% content_for :title do %>
Block B(ブロックビー)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Block B(ブロックビー)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>韓国の7人組の男性アイドルグループである。2011年4月にミュージックバンクでデビュー。ゴリラダンスに代表されるパフォーマンスから人気を得ている。また提供してきた楽曲「言ったのか言わなかったのか」「LOL」などが低俗な表現であるとして物議も醸し出している。<br />
  デビューアルバム「BLOCKBUSTER(ブロックバスター)」は2012年のアルバムチャートで10位にランクインした。 韓国ではMusic Video のYoutube再生回数が軒並み900万回を突破。4th Mini Album「H.E.R」で前作に引き続き2作連続で1位を獲得。 2014年4月には韓国の音楽番組「M!Countdown(Mカウントダウン)」の日本公演を行った。<br /> 初来日は2014年で、舞浜アンフィシアターと大阪国際会議場(グランキューブ大阪)の2会場で「2014 BLOCKBUSTER in JAPAN」を開催。 2015年1月に日本デビューを果たし、5月には東京・大阪・名古屋・福岡の4大都市でライブツアーを開催。計15,000人を動員した。</p>
</div>
<%= render 'form' %>