<br />
<% content_for :title do %>
宝塚『Bow Singing Workshop』のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️宝塚『Bow Singing Workshop』のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「Bow Singing Workshop」は、2016年6月から11月にかけて宝塚バウホールで行われる宝塚歌劇の公演タイトル。構成・演出は中村 一徳、音楽監督は吉田 優子が務める。ワークショップという形で、宙組、星組、雪組、花組、月組の順で全組が3日間ずつ公演する、宝塚歌劇としては変則的な公演だ。<br />
  「Bow Singing Workshop」の出演者は「研究科9年以下(2016年公演なので94期以下)」で構成される。タイトルや「これまでの公演の曲やミュージカル等の名曲に挑戦する」という公演内容から、「Bow Singing Workshop」では、歌唱力のある生徒を中心に抜擢されることが予想される。</p>
</div>
<%= render 'form' %>