<% content_for :title do %>
BTS(防弾少年団)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️BTS(防弾少年団)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>RAP MONSTER、JIN、SUGA、J-HOPE、JIMIN、V、JUNG KOOKの7人で構成され、2013年韓国デビュー。K-POPアイドルグループとしては珍しいヒップホップアイドルグループとして「2 COOL 4 SKOOL」で祈願のデビューを果たした。<br />
  韓国で5つの新人賞を受賞するなど、今最も注目のアイドルグループである。<br />
  2015年12月には初の単独アリーナ公演「防弾少年団2015 BTS LIVE <花様年華 on stage> ～Japan Edition～」を開催。横浜アリーナ、神戸ワールド記念ホールの2会場で5公演を行う。</p>
</div>
<%= render 'form' %>