<% content_for :title do %>
Buono!(ボーノ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Buono!(ボーノ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Buono!（ボーノ）は、ハロー!プロジェクトに所属する女性歌手グループ、女性アイドルグループである。<br />デビューから一貫してプロデューサーが滝川洋であるという点、つんくが6thシングル「co・no・mi・chi」から10thシングル「Our Songs」までを除き楽曲制作に関わっておらず、ほぼ外部の制作陣による制作だという点、ロックサウンド主体のユニットだという点、ライブやPVにバックバンドを取り入れているという点で、ハロー!プロジェクトの中では例外的なユニットである。気合い入れの言葉は『今日も美味しくいただきますっ!!』。
</p>
</div>
<%= render 'form' %>