<br />
<% content_for :title do %>
カーリーレイジェプセン(CARLY RAE JEPSEN）のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️CARLY RAE JEPSENのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>CARLY RAE JEPSEN (カーリー・レイ・ジェプセン)は、2007年カナダ出身の女性シンガー。ハスキーがかった女性的で魅力的な声、ポップで耳馴染みの良い楽曲。2011年 Call Me Maybeが大ヒット。2012年にはジャスティン・ビーバーのツアーのオープニングアクトを務めた。2013年6月「MTV VMAJ 2013」での「ももいろクローバーZ」とのコラボやファンとのシークレットカラオケパーティなど精力的に活動中。</p>
</div>
 <%= render 'form' %>