<br />
<% content_for :title do %>
劇団四季「キャッツ」のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️劇団四季「キャッツ」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>劇団四季「キャッツ」は、世界的にも最も成功したと言われているミュージカルのCATSを日本で1983年から始めています。東京から順に大阪や名古屋といった各都市でも公演されており、25年の間で上演回数は2008年で7000回以上、また観客動員数は750万人以上と言われており。日本のミュージカルのなかでは最多上演回数となっており、未だ継続中です。<br />
  本家CATSは1983年のトニー賞で10部門にノミネートし、7部門で受賞するなど功績を残しており劇団四季のキャッツも第18回ぴあテン演劇部門にて第一位を授賞しています。</p>
</div>
<%= render 'form' %>