<% content_for :title do %>
Che’Nelle(シェネル)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Che’Nelle(シェネル)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2005年にMy Spaceに公開していた楽曲がきっかけとなり、レコード会社と契約。2007年シングル「ラヴ・ウィズ・DJ」でデビュー。<br />
  日本でも1stアルバム「シェネル/Things Happen For A Reason」がオリコン洋楽チャート1位を獲得した。2012年に、日本語詞の「ビリーブ」は映画海猿のテーマソングにタイアップされ150万ダウンロード突破、その年の東京ランウェイでのライブ主演を果たした。先日行われた、結婚後初となる街頭ライブには、1000人ものファンが新婚のシェネルを一目見ようと集まった。ダンサーを引き連れ、ガンガンに踊れるダンスナンバーから、バラードまで歌われるライブは、多くのおしゃれ女子を中心に、人気沸騰中である。</p>
</div>
<%= render 'form' %>