<% content_for :title do %>
綾戸智恵のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️綾戸智恵のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>綾戸 智恵はジャズシンガー。本名同じ。大阪府大阪市阿倍野区出身。 <br />
  明浄学院高等学校を卒業したあと渡米。ロスアンゼルスのライブハウスやプロテスタント教会でゴスペルを歌ったり,ピアノ演奏や歌唱などを展開した。<br />
  2000年度の第51回芸術選奨文部科学大臣新人賞（大衆芸能部門）受賞。2003年には紅白歌合戦（NHK）出場を果たし「テネシーワルツ」を歌唱した。<br />
  </p>
</div>
<%= render 'form' %>