<% content_for :title do %>
クリス・ハートのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️クリス・ハートのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本人の心を震わせる奇跡の歌声で、多くの日本人を魅了するクリス・ハート。日本人以上に日本を愛し、日本の音楽に魅せられた一人のアメリカ人が、今日本のミュージック・シーンで大きな注目を集めている。クリス・ハートのピュアで日本人のように慎ましく、人の心を和ませる愛らしいキャラクターと同じように、包み込むような温もりのある歌声は、涙が溢れるほどにハートフルで、彼のデビューのきっかけとなった、2012年に放送された「のどじまんザ！ワールド」では、審査員の圧倒的な支持を得て優勝を果たし、賞賛の嵐を巻き起こした。<br />そして番組で彼が歌った木山裕策の「home」が、翌日ダウンロード・チャートで１位になるなど、彼の歌声の影響力は計り知れない。2013年に念願のメジャーデビューを果たすと、デビューアルバムはランキングの上位にラクインするなど、彼の歌声の虜になったファンの数は、現在急上昇中である。</p>
</div>
 <%= render 'form' %>