<% content_for :title do %>
クリス・ブラウンのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️クリス・ブラウンのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>CHRIS BROWN(クリスブラウン)は1989年生まれ、ヴァージニア州出身のアーティストだ。11歳でプロシンガーを目指し、2005年にシングル「Run It！」で鮮烈なデビューを果たした。同曲では全米チャート首位にランクインし、さらにスマッシュヒットを連発。<br />4作目となる「F.A.M.E.」は全米1位となり、さらに第54回グラミー賞にて「最優秀R＆Bアルバム」の栄冠に輝いた。40にも及ぶ数々の賞を手にした彼は、正真正銘のスーパースターだ。抜群の歌唱力とキレのあるダンスなど、彼の持つ全ての要素が最高のパフォーマンスに繋がっている。そして2016年には、約9年振りとなる公演が決定している。</p>
</div>
 <%= render 'form' %>