<% content_for :title do %>
中日ドラゴンズ戦のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️中日ドラゴンズのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>中日ドラゴンズは、愛知県をホームとする日本のプロ野球球団で、セントラル・リーグに所属するチーム。過去には星野仙一、髙木守道、立浪和義など球界を代表する選手を多く排出した伝統と歴史のある球団である。<br />
  また東海地域唯一の球団ということもあり、名古屋市を中心とした東海地方（愛知県、岐阜県、三重県、静岡県）に熱心なドラゴンズファンを多く持っている。<br />
  応援では4つのチャンステーマ（山本リンダの「狙いうち」など）を使ったり、現監督を含む全ての選手応援歌を全国の中日ドラゴンズ私設応援団連合が作詞・作曲するなど熱狂的で意欲に溢れたファンが多い事でも有名。</p>
</div>
 <%= render 'form' %>