<% content_for :title do %>
シルクドゥソレイユ(トーテム)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️シルクドゥソレイユ(トーテム)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>シルクドゥソレイユは、大道芸やサーカスなどの要素をとりこんだショーを行うカナダ発のエンターテイメント集団です。世界中でレジデントショーやツアーショーを行っていて、今回上演される「トーテム」は、人の好奇心・欲望・情熱を追い求め、人類の誕生から現在、そして未来へと数億年の旅を続ける不可能を可能にする人類の進化をテーマにした壮大な物語。人間の身体能力の限界まで追求し、空中技やバランス技、高難度なサーカス技などで観客を魅了し続けるシルクドゥソレイユ(トーテム)は、生演奏や衣装、振り付けなど全てにおいて芸術性が高く、豪華なセットがさらに世界観を確かなものにしています。</p>
</div>
<%= render 'form' %>