<% content_for :title do %>
ミュージカル「クロスハート」のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %><br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ミュージカル「クロスハート」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>中山優馬、屋良朝幸のダブル主演で贈るミュージカル「クロスハート（CROSS HEART）」が2016年12月より上演。 2007年1月上演のミニ・ミュージカル「ワン・ハート」を玉野和紀が書き下ろしで一本化。 中山優馬にとっては本作「クロスハート」がミュージカル初挑戦。屋良朝幸は四年前初の単独主演となった「道化の鐘」と同じく玉野和希作品への出演となる。</p>
</div>
 <%= render 'form' %>