<br />
<% content_for :title do %>
松竹大歌舞伎のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️松竹大歌舞伎のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>歌舞伎の公演は上演される場所が限られており、東京での公演が最も多いのですが、松竹大歌舞伎は年に数度、巡業公演として各地のホールなどを回って公演が行われます。それが松竹大歌舞伎です。巡業公演は、夏と秋に開催され、東コース、中央コース、西コースに分かれています。その名の通り、東コースは東日本を中心に回り、中央コースは広く本州を、西コースでは九州まで回ります。<br />
  地方に住んでいると、普段歌舞伎を観る機会はなかなかありませんが、この巡業公演では地方で公演が行われるため、気軽に観劇ができます。また通常の公演に比べてチケット代が少し安いのも魅力的です。</p>
</div>
<%= render 'form' %>