<br />
<% content_for :title do %>
立川談春のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️立川談春のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>立川談春 （タテカワダンシュン）は、1966年6月27日の東京生まれで、落語立川流所属の落語家であり、出囃子は「鞍馬」となっています。中学生の時に親に連れられ訪れた戸田競艇場で、あるボートレーサーに惚れ込み、一度は競艇選手を目指しましたが自身が高身長であったために断念します。その後、立川談志の高座に巡りあい、落語ではなく談志自身に魅力を感じて高校を中退して入門することを決意します。<br />
  噺家となった後も「競艇ナビゲーター」として競艇中継に度々出演し、競艇雑誌や新聞のコラムも執筆しています。</p>
</div>
<%= render 'form' %>