<% content_for :title do %>
藤原竜也 山本裕典 出演舞台 鱈々(だらだら)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️藤原竜也 山本裕典 出演舞台 鱈々(だらだら)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>舞台「鱈々(だらだら)」は韓国の劇作家、李 康白(イ・ガンペク)が90年代に発表した心揺さぶる四人芝居。出演は藤原竜也、山本裕典、中村ゆり、木場勝巳。演出は栗山民也が手掛けている。藤原竜也演じる主人公は同性愛者で、山本裕典演じる女好きの同僚に恋心を抱いてしまう。<br />
  この2人の関係を通してシニカルな現代社会を鋭く描く戯曲である。演出の栗山民也は韓国版「デスノート」の演出も手掛けていて韓国に造詣の深い名演出家である。韓国が原作の「鱈々」をどう料理するのか注目を集めている。そして今回初の同性愛者を演じる藤原竜也、舞台での演技に定評のある彼がどのように演じるのかにも注目。</p>
</div>
 <%= render 'form' %>