<% content_for :title do %>
DDTプロレスリングのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️DDTプロレスリングのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>エンターテインメント色が強くプロレス記者の鈴木健により、このスタイルを「文化系プロレス」（高木三四郎の著書に「俺たち文化系プロレス DDT」がある）と名づけられた。元社長の一宮章一は「小さなWWE」と表現したことがある。<br />
小規模会場やライブハウスで定期的な興行を打ちエンターテインメント色を大胆に打ち出すことによって支持を拡大。こういったスタイルは現在新しく旗揚げする団体がこぞって追随している。年に数度地方遠征も行っている。</p>
</div>
<%= render 'form' %>