<% content_for :title do %>
でんぱ組.incのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️でんぱ組.incのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>6人組女性アイドルグループ。秋葉原ディアステージの従業員「ディアガール」によって2008年12月に結成され、メンバーチェンジを経て2011年12月25日に現6人体制となる。<br />全メンバーが生粋のヲタク（オタク）的要素を持ち合わせており、キャッチコピーは「萌えきゅんソングを世界にお届け」<br />
  1月9日から4月2日にかけて『GO GO DEMPA TOUR 2016 〜まだまだ夢で終わらんよっ!〜』と称し、21都道府県30公演のツアーが行われた。</p>
</div>
 <%= render 'form' %>