<% content_for :title do %>
ディズニーオンアイスのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ディズニーオンアイスのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>1981年に世界で初公開され、日本では1986年に初めて公演されたのがディズニーオンアイス です。世界中のフィギュアスケーターがディズニーのキャラクターに扮して音楽や話に合わせて滑ります。アメリカや日本等全70ヶ国以上で公演されており毎年1000万人以上を動員する世界的人気のアイスショーです。2014年の日本公演ではディズニーオンアイス「デア・トゥ・ドリーム」と題して、塔の上のラプンツェル・シンデレラ・白雪姫を中心にして夢をあきらめないというテーマのもとで物語が進んでいきます。<br />ミッキーマウス、ミニーマウス、ドナルドやグーフィー等の他にも、「美女と野獣」、「眠れる森の美女」、「プリンセスと魔法のキス」、「アラジン」、「リトルマーメイド」のキャラクターも出てきます。<br />
  2016年には、本場アメリカで「ディズニー・オン・アイス」史上No.1の観客動員数を記録した「アナと雪の女王」のフルストーリーの上演が決定している。</p>
</div>
 <%= render 'form' %>