<% content_for :title do %>
ドラゴンゲートのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ドラゴンゲートのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ドラゴンゲートは日本のプロレス団体です。最大の特徴はメキシカンスタイル「ルチャ・リブレ」を非常に高いレベルで実践している点になります。独自に進化させた華麗な空中殺法の応酬は、格闘技を超えて芸術の域に達していると言っても過言ではありません。所属選手は軽量級の比較的若い選手が多く、コスチュームやイベント演出も他団体とに比べ華やかなため、女性ファンも多いことで有名です。</p>
</div>
 <%= render 'form' %>