<% content_for :title do %>
ドリームボーイズ(ドリボ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ドリームボーイズ(ドリボ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>DREAM BOYSは、作・構成・演出ジャニー喜多川による日本のミュージカル作品である。出演者の大半がジャニーズタレントで構成されており、音楽は堂本光一（KinKi Kids）が担当した、ジャニーズの伝統的舞台のひとつ。 初演は2004年1月の滝沢秀明主演「DREAM BOY」、翌2005年にはKAT-TUNと関ジャニ∞主演の「Hey! Say! Dream Boy」、2006年以降は亀梨和也主演「DREAM BOYS」として毎年上演されている。略称は「ドリボ」「ドリボズ」。 2004年に帝国劇場にて｢DREAM BOY｣として滝沢秀明が主演・最年少座長を務め、初演を迎えた。同年5月には、1月に行われた舞台の再演として、梅田コマ劇場にて「滝沢秀明編」のほか、KAT-TUNの亀梨和也が主演を務め、関ジャニ∞のメンバーが総出演した「KAT-TUN&関ジャニ∞編」を上演した。 <br />2013年以降は｢DREAM BOYS JET｣と題して、2012年公演にも出演していたKis-My-Ft2の玉森裕太が主演を務めた。 2015年にはDREAM BOYS史上初のWキャスト公演として、玉森に加え中山優馬が主役に抜擢。その他Kis-My-Ft2から千賀健永、宮田俊哉、Sexy Zoneから菊池風磨、マリウス葉も出演。</p>
</div>
 <%= render 'form' %>