<br />
<% content_for :title do %>
ドリカム(DREAMS COME TRUE)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️DREAMS COME TRUEのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>DREAMS COME TRUE（ドリームズ・カム・トゥルー）は、吉田美和と中村正人からなる日本のバンド。結成当初は西川隆宏も含めた3人編成であった。公式ファンクラブは「POWER PLANT」。一般的な略称はドリカム。さらに縮めてドリやDCTとも呼ばれる。1990年発売の「笑顔の行方」で初のオリコンTOP10入りを果たすと、その後「決戦は金曜日/太陽が見てる」、「go for it!/雨の終わる場所」、「WINTER SONG」（再発盤との合算）、「サンキュ.」、「LOVE LOVE LOVE/嵐が来る」の5作品がミリオンセラーとなり、中でも「LOVE LOVE LOVE/嵐が来る」は売上枚数240万枚以上になっている。</p>
</div>
<%= render 'form' %>