<% content_for :title do %>
E-girls(イーガールズ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️E-girls(イーガールズ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>EXILEのHIROが立ち上げたLDHに所属する本格的なダンスパフォーマンスを展開するガールズ・エンターテインメント・プロジェクト。2011年に「Celebration!」で華々しくデビューし、2012年には、3rd Single「Follow Me」がオリコンウィークリーチャート2位のヒットを記録した。2011年、2012年と、EXILEのライブ・ツアーに同行し多くの経験とファンを獲得して来たイーガールズは、2013年4月に待望の1stアルバム「Lesson1」発売し、E-Girls初の首位を獲得している。E-Girlsのライブパフォーマンスは ノリの良い楽曲と、切れが良く完成度の高いダンスで、ファンを楽しませてくれる。「ハイアンドロー(HiGH＆LOW)」での活躍にも期待したい。</p>
</div>
<%= render 'form' %>