<% content_for :title do %>
エグスプロージョンのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️エグスプロージョンのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>エグスプロージョンは、リズムネタで人気の2人組ダンサー。よしもとクリエイティブエイジェンシー所属。動画投稿サイトYouTubeにて2015年3月に公開された動画「踊る授業シリーズ 本能寺の変」が人気を集め、一気に人気急上昇。動画の再生回数はなんと5000万回以上と爆発的人気を誇る。若い世代を中心にネット上で旋風を巻き起こし、「マネしてみた」動画も数多く投稿されている。<br />
  グループ名のエグスプロージョンは、爆発を意味するexplosion(エクスプロージョン)と、自分たちのダンスの動きが「エグい」というのを組み合わせたもの。その実力は高く、過去に深夜番組「スーパーチャンプル」で初の殿堂入りした功績を持つ。</p>
</div>
 <%= render 'form' %>