<% content_for :title do %>
エリザベート 愛と死の輪舞のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️エリザベート 愛と死の輪舞のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>
宝塚宙組「エリザベート－愛と死の輪舞（ロンド）－」は宝塚を代表する作品の一つです。数奇な運命をたどるオーストリア皇后エリザベートと、黄泉の帝王トート＝死との愛憎を描いた物語です。もともと1992年にオーストリアで上演された作品で、ロングランの後ハンガリーやスウェーデンなどでも上演された人気のミュージカルです。宝塚では1996年に初演され、当時のトップスター一路真輝がトート役を熱演しました。類まれなる美貌をもちながら、自由奔放に生きることを求めたエリザベートが、オーストリア皇后となったことから数奇な運命をたどる物語です。<br />
彼女を愛する抽象的な役である黄泉の帝王トートを配した独特なストーリーと、美しい旋律で彩られたミュージカルナンバーが魅力です。宝塚版では主役をトートに置き換え、独自の演出や振り付け、装置や衣装により、多くの人々から支持を受けています。初演以来、何度も各組で再演され、長きにわたり多くのファンに愛されている作品の一つです。</p>
</div>
<%= render 'form' %>