<% content_for :title do %>
Elvis Costello(エルヴィス・コステロ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Elvis Costelloのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>イギリスのミュージシャン。ジャズバンドでシンガーとトランペット奏者を兼任していた父を持ち、文字通り音楽に囲まれて育った。エルヴィス・コステロが初めて組んだバンドは『フリップ・シティ』。その後にそのバンドからは離れ、1977年にデビューした。2ndアルバム以降は『ジ・アトラクションズ』という自身のバンドとともに活動するようになる。現在まで、様々なアーティストとコラボレーションを重ねるなど精力的に活動し、2003年には『エルヴィス・コステロ&ジ・アトラクションズ』の名義でロックの殿堂入りも果たしている。</p>
</div>
 <%= render 'form' %>