<br />
<% content_for :title do %>
ふぉ〜ゆ〜 主演舞台 縁 むかしなじみの舞台のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ふぉ〜ゆ〜 主演舞台 縁 むかしなじみの舞台のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「縁〜むかしなじみ〜」は2016年9月にジャニーズJr.福田悠太、辰巳雄大、松崎祐介、越岡裕貴の4人組ユニット「ふぉ〜ゆ〜」が主演で上演される舞台。さびれた港町で育った同級生4人が町の活性化を願い、途絶えてしまった祭を復活させようと奮闘する友情と青春の物語だ。タイトルには祭の縁日の「縁」、4人の主人公の「縁」、ふぉ〜ゆ〜とファンの「縁」などいろいろな意味が込められている。<br />
  劇中にはオリジナルの「だんない節」というパワフルな踊りが登場。越岡裕貴も「見どころはダンス。4人のパフォーマンスを、すごくいい形でお見せしたい」とアピールしている。今作は東京のほかに大阪、名古屋での上演が決定している。</p>
</div>
 <%= render 'form' %>