<% content_for :title do %>
ELT(Every Little Thing)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ELT(Every Little Thing)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>、男女2人組の音楽グループ。通称「ELT(イーエルティー)」。メンバーは、ボーカルの持田香織(愛称・もっちー)、ギターの伊藤一朗(愛称・いっくん)の二人。代表曲は「Fragile」「恋文」「出逢った頃のように」などがある。持田の伸びのある女性らしい声とバンドサウンド、アコースティックサウンドを取り入れた聴かせる楽曲に最近は変化している。ELTの 「Time Gose by」などは誰もが知る名曲である。</p>
</div>
 <%= render 'form' %>