<% content_for :title do %>
EARTH WIND&FIRE(アース ウインド&ファイヤー)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️EARTH WIND&FIRE(アース ウインド&ファイヤー)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>デビューから40年以上、アース・ウィンド＆ファイアーはモーリス・ホワイトとフィリップ・ベイリーのツイン・ボーカルを軸に、70年代を中心に「セプテンバー」や「ブギー・ワンダーランド」、「アフター・ザ・ラヴ・ハズ・ゴーン」など数多くのヒット曲を連発し、音楽チャートを賑わせたヒット曲の数は30曲以上にも及び、今なお多くの人気を集めるソウル・ミュージック界の伝説的ファンク・バンドだ。</p>
</div>
 <%= render 'form' %>