<% content_for :title do %>
EXILE(エグザイル)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️EXILE(エグザイル)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>EXILE（エグザイル）は2001年デビュー。LDH所属。2006年のTAKAHIRO加入や、何度かに渡るメンバーの脱退、加入などを経て、今や日本を代表するグループとなった。R＆Bからポップス、バラードなど、そのクオリティの高い楽曲は幅広い年齢層に愛され続けている。ボーカル2人にパフォーマーと呼ばれるダンサーで構成されており、その大所帯が作り上げるEXILEの世界はまさにエンターテインメント。2014年にパフォーマー・バトル・オーディションが行われ、岩田剛典・白濱亜嵐・関口メンディー・山本 世界・佐藤大樹の5人が加入。その後、EXILEを支えた初代メンバーのMATSU(松本利夫)、ÜSA(DANCE EARTH PARTY)、MAKIDAIがパフォーマーを引退した。ATSUSHIなど個々の活動も多く、ドラマや映画で活躍するメンバーも多い。</p>
</div>
<%= render 'form' %>