<% content_for :title do %>
EXILE ATSUSHI(あつし)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️EXILE ATSUSHI(あつし)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本を代表するダンス＆ボーカルグループとして、日本のミュージック・シーンの頂点に上り詰めたEXILEの、ボーカリストとしてはもちろん、ソロとしてもその圧倒的な歌唱力で、ボーカリストとしての揺るぎない地位を築いたEXILE ATSUSHI。その他にも、作詞家、そして作曲家としてもEXILEをはじめ、他のアーティストへの楽曲の提供や、コーラスグループのCOLORSのプロデュースをつとめるなど、今の日本のエンターテイメント界でまさに八面六臂の活躍を見せている。さらに久石譲や辻井伸行、AIそしてBoyz II Menなど、彼の声に惚れ込んだ様々なアーティストと共演をするなど、彼のボーカリストとしての才能は、業界内外からも注目を集める存在だ。</p>
</div>
<%= render 'form' %>