<% content_for :title do %>
EXO(エクソ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️EXO(エクソ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>東方神起や少女時代、SUPER JUNIORなどが所属するSMエンターテインメントの、期待の新人男性グループのEXO(エクソ)。 韓国人8人と中国人4人の12人のメンバーが、韓国で活動するEXO-K、そして中国で活動するEXO-Mの6人ずつのグループに分かれて、両国で同時に活動している。 2012年4月に韓国と中国デビューを果たすと、彼らのクールなサウンドと新人とは思えない高いクオリティのパフォーマンスは、たちまち韓国と中国を中心に大きな注目を浴び、「第23回ソウル歌謡大賞」で、いきなり大賞、デジタル音源賞、本賞の3冠を達成し、さらに「第28回ゴールデンディスクアワード」や「 2013 Mnet Asian Music Awards（2013 MAMA）」など多くの賞を受賞するなどの新人アイドルグループとしてはありえないほどの快進撃を続けている。<br />2014年には日本での初単独公演「EXO Greeting Party in Japan"Hello!"」をさいたまスーパーアリーナで4月11～13日の3日間に計5回開催し、計10万人を動員する。同年11月には｢EXO FROM. EXOPLANET#1 - THE LOST PLANET｣を開催、マリンメッセ福岡、国立代々木競技場、大阪城ホールなど3会場9公演を行った。</p>
</div>
<%= render 'form' %>