<% content_for :title do %>
EXTREME(エクストリーム)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️EXTREME(エクストリーム)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>EXTREMEはアメリカのハードロック・バンド。現メンバーはゲイリー・シェローン（ヴォーカル）、ヌーノ・ベッテンコート（ギター）、バット・バッジャー（ベース）、ケヴィン・フィグェリド（ドラム）の4人。1985年に活動を開始し、1986年と1987年に続けてボストン・ミュージック・アワードを受賞。89年にCDデビューを果たす。 ファンクを取り込んだメタル・サウンドが評価され、驚異的なライブパフォーマンスを展開させる。一度は解散するものの、2008年に「サウダージ・デ・ロック」で見事復活。デビュー25週年となる2014年に来日公演を行う。</p>
</div>
<%= render 'form' %>