<% content_for :title do %>
2016 FIA F1世界選手権シリーズ「F1 日本GP」のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️2016 FIA F1世界選手権シリーズ「F1 日本GP」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>F1日本グランプリは、毎年日本で開催されるF1の一戦です。F1は正式名称をフォーミュラ1といいモータースポーツのカテゴリーで、国際自動車連盟 (FIA) が主催をする世界最高峰のレースです。1つの国で開催されるグランプリ (GP) は1シーズン中1回だけ（1国1開催）と定められていて、その日本開催がF1日本グランプリです。世界各国のチーム・一流ドライバーが鈴鹿サーキットへ集結し開催される本レースは多くの熱烈なファンを持ち、会場は常に盛況を極めます。<br />
  鈴鹿サーキットは世界中でも名コースと言われ、トリッキーな面を持ち合わせながらも高速のバックストレートがあり、F1ドライバーは皆鈴鹿を楽しみに来日します。<br />
  また、各ブースでは色々なプロモーションが行われF1業界の華やかさを感じることが出来ます。</p>
</div>
 <%= render 'form' %>