<% content_for :title do %>
FC東京のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️FC東京のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>FC東京は、東京都をホームとするJリーグクラブ。ホームスタジアムは味の素スタジアムだが、国立霞ヶ丘陸上競技場や駒沢オリンピック公園総合運動場陸上競技場など都内各所でホームゲームを開催している。Jリーグ創設から6年後に加盟し、J2よりリーグに参加し、僅か1シーズンでJ1へ昇格。当時、東京都を本拠地とする初めてのチームでもあった事から人気チームとなった。<br />
  これまでには長友佑都・土肥洋一・武藤 嘉紀などの人気選手も在籍し、多数の観客動員数を誇るチームであり、サポーターの熱狂ぶりもリーグ1・2を争っている。</p>
</div>
 <%= render 'form' %>