<% content_for :title do %>
FIFAロシアワールドカップのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️FIFAロシアワールドカップのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>FIFAワールドカップ（英: FIFA World Cup）は、国際サッカー連盟（FIFA）が主催する、ナショナルチームによるサッカーの世界選手権大会。サッカーの大会の世界最高峰と位置付けられ、全世界のテレビ視聴者数や経済効果はオリンピックを遥かに凌ぐ世界最大のスポーツイベント。<br />
  予選大会は、本大会前に各地区ごとに1〜2年間かけて行われ、地区によっては1次、2次、最終予選の段階に分けられる。最終的には「プレーオフ」や「大陸間プレーオフ」が行われ、全ての出場国が決まる。</p>
</div>
 <%= render 'form' %>