<% content_for :title do %>
FTISLAND(エフティアイランド)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️FTISLANDのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2007年に現役高校生バンドとして結成。メンバーの端正な顔立ちとキャッチーなメロディ、共感できる歌詞でティーンエージャーを中心に人気を獲得し、韓国の音楽新人賞を総なめにした。2008年に日本でインディーズデビューし、2010年に「Flower Rock」でメジャーデビューを果たす。メジャーデビューからちょうど1年⽬にリリースした1stアルバム「FIVE TREASURE ISLAND」が、海外男性アーティストとしては史上初のオリコンウィークリーアルバムランキング初登場1位を獲得するという快挙を達成。2011年に初の日本武道館ワンマンライブを開催し、チケットは即ソールドアウト。2012年には4都市でツアーを行うなどさらに人気を拡大し続けている。<br />
   2013、2014年には2年連続でサマソニにヘッドライナーとして出演。 2015年9月16日発売の「PUPPY」を引っ提げた「FTISLAND 5th Anniversary Autumn Tour 2015 “Where's my PUPPY?”」を実施。Zepp Nagoyaを皮切りに全国8都市13公演を回る。</p>
</div>
 <%= render 'form' %>