<% content_for :title do %>
福岡ソフトバンクホークス戦のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️福岡ソフトバンクホークスのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>福岡ソフトバンクホークスは福岡県を保護地域とする日本のプロ野球球団で、パシフィック・リーグに所属するチーム。収容人員約38,000人の福岡ヤフオク!ドームをホームスタジアムとし、九州地方で唯一のプロ野球球団。城島健司、井口資仁、松中信彦などの有名選手を数多く輩出している。<br />
  また福岡ドームでの公式戦では相手チームの本拠地から福岡までが非常に遠方となるため、応援団が集まりきれず、球場内がホークスファン一色になる事も多くある。<br />ホークス攻撃時にスタンド席の応援団を中心に、メガホンを持ち曲にあわせて踊るメガホンダンスはホークス独特の応援方法としてファンに愛されている。</p>
</div>
 <%= render 'form' %>