<% content_for :title do %>
ガンバ大阪のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ガンバ大阪のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ガンバ大阪は、大阪府吹田市、高槻市、茨木市、豊中市をホームとするJリーグ創設当初からある人気クラブで、ホームスタジアムは2016年2月14日に吹田市立スタジアムへと変更された。ガンバ大阪の試合には多くの熱狂的なサポーターが集まる事でも有名。<br />
  これまでに永島昭浩、礒貝洋光、遠藤保仁など国内を代表する選手が数多く在籍し、またJリーグや天皇杯は勿論、AFCチャンピオンズリーグなど国際大会を制した実績もあり、人気・実力共に兼ね備えたチームである。観客動員数もリーグ内で上位に位置し、新スタジアムになったことにより収容人数も増え、スタジアム内はガンバサポーターによって青く染められる。</p>
</div>
<%= render 'form' %>