<% content_for :title do %>
おかあさんといっしょ ガラピコぷ～がやってきた!!のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️おかあさんといっしょ ガラピコぷ～がやってきた!!のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ガラピコぷ～は1959年から続くNHKの長寿番組「おかあさんといっしょ」の新人形劇の名称である。「ぽこぽっていと」の後を継ぐ形になり、2016年4月4日から放映予定だ。ガラピコぷ～のストーリーは、地球と似ているけれど別の宇宙にある「しずく星」に暮らす動物達と、宇宙から不時着したロボット「ガラピコ」が友情を育んでいく話である。<br />
  しずく星の真ん中にある「ホシノキ」の生えているムスービ村に暮らす4歳のうさぎの「チョロミー」が3歳のオオカミ「ムームー」と出会い、さらにガラピコとも知り合って仲良くなっていく。原作は山中隆次郎、キャラクターデザインはひやまたつみ、チョロミーを吉田仁美、ムームーを冨田泰代、ガラピコを川島得愛が演じる。</p>
</div>
 <%= render 'form' %>