<% content_for :title do %>
生田斗真主演 劇団☆新感線 『ヴァン・バン・バーン』（Vamp bamboo Burn）のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️生田斗真主演 劇団☆新感線 『ヴァン・バン・バーン』（Vamp bamboo Burn）のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>劇団☆新感線は、1980年に大阪芸術大学舞台芸術学科の四回生を中心にしたメンバーで、つかこうへい作品である「熱海殺人事件」にて旗揚げ。劇団名は、メンバーが実家に帰省する際、新幹線を使っていたという理由で付けられた。1984年からは、オリジナル作品へ移行。<br />
  1988年以降は、東京＆大阪で公演を行うようになる。1999年には、劇団の本公演以外に大手プロダクションと組み、2002年には、「アテルイ」（市川染五郎主演、堤真一出演）で、作品賞として朝日舞台芸術賞・秋元松代賞を受賞。</p>
</div>
<%= render 'form' %>