<% content_for :title do %>
GENERATIONS(ジェネレーションズ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️GENERATIONS(ジェネレーションズ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「GENERATIONS from EXILE TRIBE（ジェネレーションズ・フロム・エグザイル・トライブ）」は、7人組ダンス＆ボーカルユニット。三代目 J Soul Brothersらと同じくLDH所属。GENERATIONSのデビューシングル「BRAVE IT OUT」が、有線J-POPチャートでデビュー前に1位を獲得し、日本人男性グループで初の快挙となった。元EXILEのHIROがプロデュースする新世代ユニットで、個性あるパフォーマンスは楽しみの一つである。メンバーはリーダーの白濱亜嵐、ボーカル＆パフォーマーの片寄涼太と数原龍友、パフォーマーの小森隼、佐野玲於、関口メンディー、中務裕太の7人。</p>
</div>
<%= render 'form' %>