<% content_for :title do %>
三鷹の森ジブリ美術館のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️三鷹の森ジブリ美術館のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ジブリファンにはすっかりお馴染み、三鷹の井の頭恩賜公園内にある「三鷹の森 ジブリ美術館」。「風の谷のナウシカ」や「となりのトトロ」、「千と千尋の神隠し」など、日本ばかりでなく世界のファンを魅了し、数々の名作を生み出してきたジブリスタジオの世界を楽しむことができる。<br />
  心がホッとくつろぐような、どこか懐かしさを感じさせる子供だけではなく大人まで楽しむことができる人気のスポットです。これまでジブリスタジオが世に送り出してきた作品は、海外からも高い評価を集めているということもあり、近年は海外の観光客にも高い人気を集めています。アニメ作品の製作過程がわかる展示室や、オリジナルの短編アニメーションの上映、オリジナルグッズ、カフェに至るまで、作り手であるジブリスタジオの思いが詰まったこだわりを感じさせる。</p>
</div>
<%= render 'form' %>