<% content_for :title do %>
浜崎 あゆみのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️浜崎あゆみのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>浜崎 あゆみは、日本の女性歌手。かつては女優、モデルとしても活動していた。愛称はあゆ、ayu。ロゴマークのAは本人のイニシャルを組み合わせたもの。<br />
  2012年発売のベストアルバム『A SUMMER BEST』のリリースによりシングル・アルバムの総売上枚数が5000万枚を突破、B'z、Mr.Childrenに続き、史上3組目、5年5か月ぶりの記録を達成。総売上枚数が5000万枚を越えたのはソロアーティスト並びに女性アーティストとしては史上初の快挙<br />
  1999年1月発売のデビューアルバム『A Song for ××』が約150万枚を売り上げて歌手としてブレイクを果たすと,
  女子中高生を中心に彼女のファッションやメイクを真似する若者たちが増え、マスコミなどから「女子高生のカリスマ」と呼ばれるようになった。<br />ファッションリーダーとしてネイルアート、大きなサングラス、豹柄などの流行を生み出し社会現象となった。のちにベストジーニストやネイルクイーンでは殿堂入りも果たしている</p>
</div>
<%= render 'form' %>