<% content_for :title do %>
浜田 省吾のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️浜田 省吾のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>1976年にソロ・デビュー。メディア露出が極端に少ないものの、地道なライブ活動によって確実にファンを獲得。デビュー後の数年間は、事務所からの方針により自らが目指す方向性を屈折させられ逡巡していた。そのため、初期の頃は自分の生き方そのものへの懐疑を投げかけた楽曲が多く存在する。<br />
  「悲しみは雪のように」は今も色あせない名曲、メガヒット曲。</p>
</div>
 <%= render 'form' %>