<% content_for :title do %>
阪神タイガース戦のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️阪神タイガースのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>"阪神タイガース"は1935年に創立されたセントラル・リーグに所属する日本のプロ野球球団です。兵庫県の阪神甲子園球場を本拠地としており、日本球界で現存している12球団中2番目に歴史が長く、関西を中心に熱狂的なファンを持つ球団です。本拠地の阪神甲子園球場では全国高等学校野球選手権大会や選抜高等学校野球大会も行われていて、その歴史は球団創設よりもさらに以前から続いています。 <br />チーム名の「タイガース」は阪神電鉄社員の公募によって決定し、創設当初からの名称を現在でも使っている球団は「タイガース」と「ジャイアンツ」の2球団だけです。 <br />球団マスコットは3体おり、「トラッキー」、「ラッキー」、「キー太」というタイガースにちなんだ虎をモチーフにしています。 球団旗やユニフォームなどに使用しているシンボルマークには、虎の似顔絵が使われていて、色の変遷など多少の違いはありますが、これも球団創立当時から使用されています。<br /> 球団歌は広く知られている「六甲颪」ですが、六甲颪は歌詞の冒頭で使用されていることから呼ばれていて、正確な球団歌としては「阪神タイガースの歌」になります。</p>
</div>
<%= render 'form' %>