<% content_for :title do %>
初音 ミクのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️初音ミクのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「未来的なアイドル」をコンセプトとしてキャラクター付けされているバーチャルアイドル(バーチャルシンガー)。 ヤマハの開発した、メロディや歌詞の入力により合成音声によるボーカルパートやバックコーラスを作成することができる音声合成システム「VOCALOID(ボーカロイド)」に、歌い手としての身体を与えたコンピュータプログラムのキャラクターである。<br />初音ミクによる世界ツアーは2014年5月のインドネシア・ジャカルタから始まり、同年10月にアメリカ・ロサンゼルス、ニューヨークで開催。2015年6月には中国・上海で開催している。 2016年3月より、全国5都市で初音ミクによるライブツアー「HATSUNE MIKU EXPO 2016 Japan Tour」を開催。</p>
</div>
<%= render 'form' %>