<% content_for :title do %>
ハロプロ(Hello! Project)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ハロプロ(Hello! Project)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>芸能事務所であるアップフロントプロモーションに所属している女性アイドルグループの総称。<br />
    総合プロデュースをシャ乱Qのつんくが担当している。通称は「ハロプロ」。モーニング娘。や Berryz工房、 ℃-ute、 アンジュルム(スマイレージ)、 Buono!、 Juice=Juice、 光井愛佳など、人気アイドルが多数所属している。 1999年、初の「Hello! Project」の合同コンサート『Hello! Project '99 at 横浜アリーナ』が行われた。 2016年は「Hello! Project 2016 WINTER～DANCING!SINGING!EXCITING!～」を行い、全7カ所を回る。</p>
</div>
<%= render 'form' %>