<% content_for :title do %>
ハイアンドロー(HiGH＆LOW)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️EXILE TRIBE HiGH＆LOW THE STORY OF S.W.O.R.D.のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>全国公開映画とドラマ、そして映画・ドラマ連動型のLIVEを軸に様々なメディアコンテンツ展開を繰り広げる、世界初の総合エンタテインメント・プロジェクト。日本テレビと三代目J Soul Brothers from EXILE TRIBEらが所属するLDHがタッグを組み、7月16日全国公開映画を軸にドラマなど「HiGH&LOW」展開する総合エンタテインメント・プロジェクトが始動！斎藤工、窪田正孝、林遣都、山田裕貴、前田公輝、稲葉友、栁俊太郎など出演！！！</p>
</div>
<%= render 'form' %>