<% content_for :title do %>
氷川 きよしのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️氷川 きよしのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>氷川きよしは、2000年デビューの大人気の若手演歌歌手。茶髪でファッショナブルなスーツに身を包み、バリバリの演歌を歌う彼の登場は大きな話題となった。<br />
  演歌のみならず、歌謡曲調の楽曲や懐メロなど幅広く歌い上げ、わかりやすいメロディと歌詞、覚えやすい振り付けで小さな子供から、高い年齢層まで幅広い年代のファンが多い。<br />
  デビュー曲である『箱根八里の半次郎』は大ヒットを記録、最優秀新人賞や大賞を総なめにし一躍有名演歌歌手に躍り出た。<br />2002年発表の『きよしのズンドコ節』もレコード大賞や日本有線大賞を受賞、その他にも多くの受賞歴がある。演歌界の貴公子は今後も活躍が期待される。
  </p>
</div>
 <%= render 'form' %>