<% content_for :title do %>
広島東洋カープ戦のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️広島東洋カープのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>広島東洋カープは、広島県をホームとする日本のプロ野球球団で、セントラル・リーグに所属するチームです。ホームスタジアムはMAZDA Zoom-Zoom スタジアム広島（収容人員33,000人）です。日本プロ野球12球団の中で唯一、親会社を持たない市民球団として創立された事もあり、地元広島県を中心に多くの熱いファンを持つ人気の球団といえるでしょう。<br />
  またユニフォームに多く使われる赤＝カープというイメージがプロ野球ファンに定着しており「赤ヘル軍団」と呼ばれ愛されています。<br />
  昨今では「カープ女子」や「カープギャル」といわれる女性のファンも増えており、スタンドの雰囲気も華やかになって来ています。</p>
</div>
<%= render 'form' %>