<% content_for :title do %>
久石 譲のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️久石譲のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>久石譲は日本を代表する音楽家であり、日本に止まらず世界にもたくさんのファンがいます。主に指揮やピアノ演奏をしていますが、幼少期にはトランペットやヴァイオリンなどもしていました。音楽活動はジブリ映画を始め、有名なCMからテレビ、アニメなど多岐にわたり楽曲提供を行っています。海外での評価も非常に高く、多くの音楽賞を受賞しています。<br />また携わった多くの映画も賞を得ていることから、２０１３年に映画芸術科学アカデミーの会員として招待されました。<br />
  「風の谷のナウシカ」にはじまり、これまで数々のジブリ作品を中心に、映画音楽を手がけ、長野パラリンピックの総合演出や、カンヌ国際映画祭のオープニング・セレモニーの音楽を担当する。</p>
</div>
<%= render 'form' %>