<% content_for :title do %>
HKT48のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️HKT48のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>HKT48（エイチケーティー フォーティエイト）は、福岡市を拠点に活動する日本の女性アイドルグループ。2011年10月23日に誕生した。<br />
  AKB48と同様、秋元康が総合プロデューサーを務める。福岡市中央区地行浜（シーサイドももち）のホークスタウンモール2階に専用劇場『HKT48劇場』を有し、2011年11月26日に初公演を行い、以後原則的に毎日公演を行っていた。<br />
  AKB48と同様、AKSが運営管理を行っていたが、ホークスタウンモールの再開発に伴い2016年3月末をもって『HKT48劇場』は閉館し、2016年4月28日より福岡市中央区天神の商業施設・ソラリアステージ6階の『西鉄ホール』を本拠地劇場として公演を行っている（HKT48劇場と異なり、専用劇場ではない）。<br />
グループ名の「HKT」は、福岡市の別称もしくは福岡市の一部地域を指す「博多」（HAKATA）に由来する。</p>
</div>
<%= render 'form' %>