<% content_for :title do %>
市川 海老蔵のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️市川 海老蔵のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>十一代目市川海老蔵は江戸歌舞伎の総本山・市川宗家の御曹司として1977年12月6日東京都に生まれる。屋号=成田屋、定紋=三升。父は十二代目市川團十郎、祖父は十一代目市川團十郎(両名とも死去)。5歳の時に歌舞伎『源氏物語』の春宮で初お目見得。歌舞伎では主に「立役」(男型)を担当している。二枚目の白塗りも荒事の隈取も良く映える顔立ちと、女形(おやま)もこなす色気は超人的なオーラを放ち、歌舞伎のもつ根源的な力を備えている。<br />
  若い時はその重責に苦しんだこともあったと明かしているが、現在は2013年2月に父・十二代團十郎を亡くし、市川宗家当主の家督を継いでその双肩に未来の歌舞伎界を背負う。</p>
</div>
 <%= render 'form' %>