<% content_for :title do %>
家入 レオのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️家入 レオのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2012年1stシングル「サブリナ」でデビュー。第54回レコード大賞最優秀新人賞を受賞し、 2013年1月より始まった自身初となる全国ツアー「家入レオ 1st ワンマン Tour 〜LEO〜」では、福岡DRUM Be-1、東名阪のCLUB QUATTRO、BIGCAT、赤坂BLITZの全国4都市をまわり、全公演即日完売を記録した。<br />
  2015年にリリースした3rdアルバム「20」は、「billboard japan HOT100」チャートにおいて、楽曲ダウンロード、楽曲ストリーミング、YouTube再生、ラジオO.A.の４冠を達成し、総合でウィークリー１位を獲得するなど大ヒットを記録した。</p>
</div>
<%= render 'form' %>