<% content_for :title do %>
池田 エライザのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️池田 エライザのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>池田 エライザは日本の女性ファッションモデル、女優である。2014年に自身のTwitterのアイコンとして口元をつまんで唇を尖らせたポーズをとった自撮り写真を使ったところ、中高校生の間で反響を呼び、ファンによって「エライザポーズ」と名付けられた。</p>
</div>
 <%= render 'form' %>