<% content_for :title do %>
いきものがかりのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️いきものがかりのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>いきものがかりは、日本の3人組音楽グループ。所属芸能事務所はCUBE Group。所属レコード会社はエピックレコードジャパン（EPIC Records）。公式ファンクラブは「いきものがかりファンクラス1年2組」。バンド名は、結成した際の水野と山下の唯一の共通点が小学1年生時代の係活動において、金魚に餌をあげる「生き物係」であったことに由来しており、その共通点を思い出した山下が提案して決まったものである。当初「いきものがかり」は仮称で、吉岡の加入を契機にバンド名の変更が検討されたが[注 1]、吉岡が「いきものがかり」を気に入ったことから変更されずに現在に至っている。</p>
</div>
<%= render 'form' %>