<% content_for :title do %>
iKON(アイコン)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️iKON(アイコン)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>新人デビューバトルプロジェクト番組｢WIN:WHO IS NEXT｣で、TEAM AとTEAM Bの2チームに分かれて様々なバトルを繰り広げて勝利を手にして、念願のデビューを果たしたWINNERに次いで、惜しくも負けてしまったチームから選抜されて結成されたiKONは、｢WIN:WHO IS NEXT]｣での奮闘ぶりも大きな注目を浴びていたこともあり、本国の韓国はもちろん、日本のファンの間でもデビュー前からすでに高い人気を集めており、本格的なデビューとなればブレイクは間違いないだろう。</p>
</div>
<%= render 'form' %>