<% content_for :title do %>
INFINITE(インフィニット)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️INFINITE(インフィニット)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>INFINITE（インフィニット）は、韓国の7人組のアイドルグループ。デビュー前にバラエティ番組に出演し、端正なルックスがネット上で話題を呼んだ。2010年に「First Invasion」でデビュー。同年に出演した音楽番組「M countdown」では「俺のものになって(ネコハジャ)」で初めて1位を獲得したINFINITE（インフィニット）は、韓国の7人組のアイドルグループ。デビュー前にバラエティ番組に出演し、端正なルックスがネット上で話題を呼んだ。2010年に「First Invasion」でデビュー。<br />同年に出演した音楽番組「M countdown」では「俺のものになって(ネコハジャ)」で初めて1位を獲得。<br />韓流ブームが巻き起こる日本での人気は絶大。音楽のみならず、メンバーそれぞれが俳優業もこなすなど、活動の幅を広げている。</p>
</div>
 <%= render 'form' %>