<% content_for :title do %>
五木 ひろしのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️五木 ひろしのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>五木ひろしは、レコード会社のコンテストで優勝したことをきっかけに、1965年にデビューするが、しばらくはヒット曲に恵まれなかった。<br />転機となったのは1970年。ふたたびテレビのオーディション番組に出場し、10週連続で勝ち抜く快挙を遂げる。翌年、再デビュー。「よこはま・たそがれ」を発表し、オリコンシングルチャートで悲願の1位に輝いた。<br />五木ひろしの代名詞とも言える、右手で拳を握りしめて歌うスタイルはこの頃確立。コロッケなどにものまねされている。
  </p>
</div>
 <%= render 'form' %>