<% content_for :title do %>
Jaga Jazzist(ジャガ・ジャジスト)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Jaga Jazzist(ジャガ・ジャジスト)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Jaga Jazzistは、1994年にLars HorntvethとMartin Horntveth兄弟を中心に結成されたノルウェーのエクスペリメンタル・ジャズバンドだ。ジャズ、プログレッシブロック、ポストロック、エレクトロニカなどを融合した独自の電子サウンドは世界的に高い評価を受けている。<br />
  ギター、ベース、トランペット、ヴィブラフォンなどの生楽器にエレクトロニクスを混合した9人編成が生み出すサウンドは、即興演奏よりもコンポジションにウエイトを置いたスタイルが特徴。生楽器とエレクトロニクスをミックスしたダイナミックなJaga Jazzistサウンドは北欧・ノルウェーらしい透明でメランコリックな世界観を漂わせ聴く者を惹きつけてやまない。</p>
</div>
<%= render 'form' %>