<% content_for :title do %>
Japan Women’s Open Tennisのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Japan Women’s Open Tennisのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2015年より会場を東京都江東区の有明テニスの森公園に移し、「ジャパン・テニス・ウイークス」の一環として開催することになった[2]。また大会名も「ジャパン女子オープン」から「ジャパンウィメンズオープン」に変更されている。</p>
</div>
<%= render 'form' %>