<% content_for :title do %>
フィギュアスケート ジャパンオープン2016のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️フィギュアスケート ジャパンオープン2016のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>フィギュアスケート Japan Openは日本国内において行われている国際大会で2006年からは団体戦形式となっています。プロとアマの選手が混成する大会で、日本と北米、欧州の3チーム、男女のシングルスケーター2名ずつがフリープログラムを滑って、その合計点で競い合う大会です。 <br >
  各国のトップスケーターが出場し、そのシーズンのフリープログラムが初披露されることがほとんどないため、いち早く演技を見たいファンをはじめ多くの人から注目を浴びる大会になります。特にオリンピックシーズンはファンのみならず、各国の選手からも注目されることも多いものです。 <br />
  2006年より冠スポンサーとなっているキノシタグループは未来ある多くのアマチュアのスケーター達のスポンサーにもなっている企業で、その年からは一貫してさいたまスーパーアリーナで開催されてます。</p>
</div>
 <%= render 'form' %>