<% content_for :title do %>
ジャニーズ・フューチャー・ワールドのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ジャニーズ・フューチャー・ワールドのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Johnny’s World (ジャニーズワールド)は、2012年に開催されたジャニー喜多川氏の3つのギネス世界記録を記念して開催されたミュージカル。Hey! Say! JUMPが主演したほか、タッキー＆翼、Sexy Zone、A.B.C-ZやジャニーズJr.などが出演しており、観るものを夢の世界「ジャニーズワールド」へと魅了した。2013年は「現在ではなく未来を見据えた作品にする」というコンセプトをもとに「ジャニーズ トニトニ ワールド」へとパワーアップし、Sexy ZoneとA.B.C-Z、そして2020年までに結成される2020 (トニトニ)候補のジャニーズJr.たちも多数出演を果たした。<br />
  2016年9月に地方公演として｢JOHNNYS' Future World｣が博多座で上演される。史上最年少座長を務めるは、平野紫耀。他にも内博貴や、MrKing VS MrPrinceの岩橋玄樹、神宮寺勇太、さらには九州出身の注目若手ダンサーによる「九州男児新鮮組」も出演することが決定している。
</p>
</div>
<%= render 'form' %>