<% content_for :title do %>
三代目 J Soul Brothersのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️三代目 J Soul Brothersのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>J Soul Brothers（ジェイ・ソウル・ブラザーズ）は、日本のダンス&ボーカルグループ。所属事務所はLDH。レーベルはrhythm zone。
1999年に初代を結成。2001年に「EXILE」と改名したことにより初代の同名義での活動を終了。2007年に新たなメンバーで二代目を結成。2009年にEXILEへ加入することにより二代目の同名義での活動を終了。2010年に新たなメンバーで三代目を結成、「三代目J Soul Brothers」または「三代目J Soul Brothers from EXILE TRIBE」名義で活動中。グループのイメージカラーは青。13thシングル「R.Y.U.S.E.I.」で第56回日本レコード大賞を受賞。</p>
</div>
<%= render 'form' %>