<% content_for :title do %>
今井翼出演 十月花形歌舞伎 GOEMON 石川五右衛門の舞台のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️今井翼出演 十月花形歌舞伎 GOEMON 石川五右衛門の舞台のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>十月花形歌舞伎 GOEMON［今井翼出演］は2014年の10月3日から10月27日まで大阪の松竹座で公演される歌舞伎興行です。座長は歌舞伎だけでなくテレビやドラマにも引っ張りだこの人気歌舞伎役者の片岡愛之助が務め、現役アイドルとしては始めて今井翼が松竹歌舞伎の舞台に挑戦します。<br />
  今井翼が得意とするフラメンコと石川五右衛門が活躍するGOEMONの世界を融合させた今までに無い形の作品となっています。設定は主人公の石川五右衛門がスペイン人宣教師と日本人女性のハーフという設定で、2人は同じダンス講師に師事しているので、劇中では片岡愛之助、今井翼2人のフラメンコのダンスを楽しむ事が出来ます。</p>
</div>
 <%= render 'form' %>