<% content_for :title do %>
ジュノ(JUNHO)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ジュノ(JUNHO)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>JUNHO（ジュノ）は男性的な魅力で大人気の韓国のアイドルグループ2PMのメンバーである。2013年5月に「GIVE ME LOVE」でソロデビュー。7月にはアルバム「キミの声」がリリースされる。2PMのライブでもその才能と実力は証明されていたが、今回は作詞、作曲、ダンス、PV、アルバムジャケットに至るまですべて彼のプロデュース。R&Bやバラード、疾走感溢れるナンバーなど、彼の新しい魅力が炸裂している。Jun.Kと合わせて、2PMのキーマン的存在。<br />他のアイドルとは一線を画すソロアーティスト"ジュノ"に今後の期待が高まる。</p>
</div>
 <%= render 'form' %>