<% content_for :title do %>
ジャスティンビーバーのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ジャスティンビーバーのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ジャスティンビーバー(JUSTIN BIEBER)は、カナダ出身のポップス/R&Bシンガー。YouTubeで歌手活動を見つけられ、アイランド・レコードとの契約を取り付ける。<br />
2009年に発売したアルバム「My Worlds2.0」が全米アルバムチャートで1位を獲得。ビルボードホット100では3週連続で首位をとり続け、10代のソロシンガーとしては、スティーヴィー・ワンダー、リッキー・ネルソンを超えて新記録を達成した。2013年10月7日には、埼玉県さいたまスーパーアリーナでのジャスティンビーバー(JUSTIN BIEBER)来日公演を開催。2月に発売したらアルバム「ビリーヴ～アコースティック」を引っさげての約2年半ぶりの来日となった。</p>
</div>
 <%= render 'form' %>