<% content_for :title do %>
K-1WORLD GP 2016のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %><br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️K-1WORLD GP 2016のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「K-1 WORLD GP」は世界最大級のK1イベント。K1とはキックボクシング・ボクシング・空手・ムエタイなどを組み合わせた、立ち技系の格闘技である。K1は世界で最大135ヶ国に映像配信され、ピークの視聴率は20パーセントとも言われた。さらにイベントは年間で27万規模の観客を動員すると言われている。K1には4階級が存在。「K-1 WORLD GP」ではヘビー級以上を中心とし、「K-1 WORLD MAX」ではミドル級、そしてライト級と続く。ハーフタイムショーも見どころの1つで、2009年にはAKB48が、2010年にはももいろクローバーが出演した。</p>
</div>
<%= render 'form' %>