<% content_for :title do %>
梶裕貴(カジユウキ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️梶 裕貴のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>梶裕貴(カジユウキ)とは、歌手やナレーターとしても活躍する日本の男性声優です。2014年に放送されたアニメである「アオハライド」で、中学生の少年からすっかり声変りをした高校生の青年の声を表現しました。<br />
  そして、第3回声優アワード新人男優賞、2011年度ファミ通アワード男性キャラクターボイス賞、第7回、第8回声優アワード主演男優賞、第12回東京アニメワード個人部門声優賞、アニメージュ第35回、第36回アニメグランプリ声優部門にてグランプリ賞を受賞されました。<br />多くの賞を受賞し、2013年のアニメである「進撃の巨人」、「マギ」、2014年の「七つの大罪」といったメディア化作品の多くの一役を手掛けてます。</p>
</div>
 <%= render 'form' %>