<% content_for :title do %>
KAMASHI WASHINGTON(カマシ・ワシントン)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️KAMASHI WASHINGTON(カマシ・ワシントン)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>カリフォルニア州ロサンゼルス群イングルウッドにて育つ。父親は同じくテナーサックス奏者のリッキー・ワシントン、母親もフルート奏者という音楽一家で育ち、幼少期より楽器の演奏を始めた。<br />
  2004年に、バンドでの初アルバムとなる『ヤング・ジャズ・ジャイアンツ(Young Jazz Giants)』をキャメロン・グレイヴス(Pf)、ステファン・ブルーナー(Ba)、ロナルド・ブルーナー・Jr(Dr)らと共にリリース。<br />
その後もジャンルを超えて様々なアーティストとの共演を行っており、主な共演者としてはウェイン・ショーター、ハービー・ハンコック、ホレス・タプスコット、ジェラルド・ウィルソン、ローリン・ヒル、ナズ、スヌープ・ドッグ、ジョージ・デューク、チャカ・カーン、フライング・ロータス、サンダーキャット、フランシスコ・アグアベージャ、パン・アフリカン・ピープルズ・オーケストラ、ラファエル・サディーク、ケンドリック・ラマーなどが挙げられる。<br />
2015年に自身のソロアルバム『The Epic』をブレインフィーダーよりリリースした。同年10月、ブルー・ノート東京にて来日公演を行っている。</p>
</div>
<%= render 'form' %>