<% content_for :title do %>
関ジャニ∞のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️関ジャニ∞のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>関ジャニ∞は関西ジャニーズJr時代からのメンバーで結成され、2002年に結成。2004年「浪花いろは節」でデビュー。デビュー前は関西を拠点とし、大阪松竹座でミュージカル『ANOTHER』や『サマースペシャル』(通称・サマスペ)等の公演を行っていた。 バラエティでも歌番組でも、常にパワフルだ。
  グループのファンをeighter(エイター)と呼んでいる。関ジャニ∞のコンサートでは、メンバーの持ち味を生かしたコントや、実はメンバー全員、楽器演奏が出来ることからバンドパフォーマンスもあり、普段は見られない彼らの姿を見ることができる。関ジャニ∞はジャニーズのグループの中でもコンサートチケットが取りにくいコンサートでも有名。今年も夏に「関ジャニ∞リサイタル」が開催されたが、こちらもチケットが争奪戦となった。12月からは、アルバム『関ジャニ∞の元気が出るCD!!』を引っ提げた全国5大ドームツアー『関ジャニ∞の元気が出るLIVE!!』を実施する。今後も彼らの動向に目が離せない！</p>

</div>
<%= render 'form' %>