<% content_for :title do %>
鹿島アントラーズのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️鹿島アントラーズのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>鹿島アントラーズはJ１に所属するプロサッカーチームで、茨城県鹿嶋市などがホームタウン、ホームスタジアムは茨城県立カシマサッカースタジアムです。これまで多数の日本代表を輩出しており、2014年現在所属している選手では柴崎岳や昌子源、過去には内田篤人（現ブンデスリーガシャルケ04所属）・伊野波雅彦（現J2ジュビロ磐田所属）・大迫勇也（現ブンデスリーガFCケルン所属）らが所属しており、非常に選手層の厚いチームです。<br />
  監督はブラジル出身のトニーニョ・セレーゾが務めています。マスコットキャラクターは鹿の愛称「しかお」で、これは鹿島神宮にちなんだものです。現在は妻の「しかこ」と長男「アントン」もいます。チームカラーは「サッカーへの燃えるような情熱」と「茨城県花のバラの色」から「アントラーズレッド」で、濃いめで渋い赤色をしています。</p>
</div>
<%= render 'form' %>