<% content_for :title do %>
川崎フロンターレのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️川崎フロンターレのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本の神奈川県川崎市をホームタウンとする[1]、日本プロサッカーリーグ（Jリーグ）に加盟するプロサッカークラブ。<br />
  昨シーズンまで背番号16をつけていた大島僚太が今シーズンから背番号10をつけることとなり、尚且つクラブとして初めて日本人が10をつけることもあり注目を集めている。<br />
  大久保嘉人のゴールラッシュにも期待。
  </p>
</div>
<%= render 'form' %>