<% content_for :title do %>
ケツメイシのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ケツメイシのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ケツメイシは、Ryo(MC)、Ryoji(Vo)、大蔵(RAP&MC)、DJ KOHNO(DJ)の男性4人からなる日本のヒップホップグループ。2005年2月にリリースした11thシングルの「さくら」では初のオリコンシングルチャート1位獲得。翌年4月にリリースした12thシングルの「旅人」では、自身初となる2週連続オリコンチャート1位を獲得。 その他代表曲には「トモダチ」「涙」「君にBUMP」等がある。またミュージックビデオには著名人や俳優を起用したものが多いのも特徴。これまでにダイノジ、鈴木えみ、貫地谷しほり、劇団ひとり、長澤まさみ、有村架純、椎名桔平などが出演。</p>
</div>
<%= render 'form' %>