<% content_for :title do %>
欅坂46のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️欅坂46のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>秋元康のプロデュースにより、2015年8月21日に誕生した。stシングル「サイレントマジョリティー」を発売。初週約26万2000枚を売上げ、オリコン1位を獲得。また、女性アーティストのデビューシングル初週売上としても、歴代1位記録を樹立。また初主演ドラマ『徳山大五郎を誰が殺したか?』（テレビ東京）を放送開始予定で、メンバー21名で出演予定</p>
</div>
<%= render 'form' %>