<% content_for :title do %>
Kid Ink(キッドインク)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Kid Ink(キッドインク)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Kid Ink(キッドインク)は2014年1月にデビューした歌手である。ソニーミュージックエンターテイメントの傘下であるRCAレコードから初のメジャーアルバム「MY Own Lane」をリリースした。本名はブライアン・トッド・コリンズ。アメリカ カリフォルニア州を中心に活躍する期待の新人である。<br />
  インディーズ時代はDJ ill willというプロデューサー兼インディレーベルAlumniのCEOの元で数々のミックステープを制作している。Kid Ink(キッドインク)はアメリカhiohop誌のXXLがFreshman Classで期待のラッパー10人の中の1人に選出され話題となった。デビューアルバムはビルボードチャートで1位を獲得するなど非常に勢いのある新人アーティストである。
</p>
</div>
<%= render 'form' %>