<% content_for :title do %>
木村 カエラのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️木村 カエラのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2002年、インディーズバンド「ANIMO」を結成、「katie」という名前でボーカルを担当。<br />
  2014年は、デビュー10周年を迎え「木村カエラ 10years anniversary」と題してさまざまな記念企画を開催。「第19回東京ガールズコレクション2014」(TGC)のライブメインアクトを務め、横浜アリーナにてデビュー10周年を記念したアニバーサリーライブ「KAELA presents GO!GO! KAELAND 2014〜10years anniversary」を開催。25日公演を「Rockin' ZOO」、26日公演を「Poppin' PARK」と銘打ち、両日で異なるセットリストで行った。 <br />
  2015年には「ビクターロック祭り2015」、「ROCK IN JAPAN FESTIVAL 2015(ロッキンジャパン)」、「カウントダウンジャパン15/16(12/29)」などフェス系イベントに多数出演。</p>
</div>
<%= render 'form' %>