<% content_for :title do %>
宝塚月組『アーサー王伝説』のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️宝塚月組『アーサー王伝説』のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2015年9月にパリで初演され、今もツアー公演としてフランス各地で旋風を巻き起こしている、フレンチ・ミュージカル「アーサー王伝説」がついに宝塚歌劇に上陸。「1789 －バスティーユの恋人たち－」と同じくドーヴ・アチア氏の脚本・作詞・作曲による「アーサー王伝説」は、「岩に突き刺さった剣を引き抜いた者が王となる」という伝説でも有名な、イギリス・ケルトに伝わる騎士道物語をドラマティックに描いた作品である。</p>
</div>
 <%= render 'form' %>