<% content_for :title do %>
ブロードウェイ・ミュージカル キンキーブーツの舞台のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ブロードウェイ・ミュージカル キンキーブーツの舞台のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「キンキーブーツ」は2005年にアメリカとイギリスが合作した、実話を元にするコメディ映画。日本での公開は2006年。経営不振となった靴製造工場を率いるオーナーが、見るからにそりが合わなさそうなドラァグ・クイーンとともに経営の立て直しを図るストーリー。映画に出演したイジョフォーはゴールデングローブ賞主演男優賞ミュージカル・コメディ部門にノミネートされた。<br />
  2013年には、アメリカのブロードウエイシアターにてミュージカル「キンキーブーツ」が上演され、劇中ナンバーの作曲・作詞をシンディ・ローパーが担当したことでも話題となった。「キンキーブーツ」は2013年トニー賞で13部門にノミネートされ、オリジナル楽曲賞、主演男優賞、作品賞など6部門を受賞した。</p>
</div>
 <%= render 'form' %>