<% content_for :title do %>
Kis-My-Ft2(キスマイ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Kis-My-Ft2(キスマイ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Kis-My-Ft2（キスマイ）は、2011年「Everybody Go」でデビューした7人組アイドルグループ。ジャニー喜多川からも、「うまいだけではなく、何でも出来る」と高い評価を得ている。グループ名は7人の頭文字をつなげたもの。 タップダンサーのグレゴリー・ハインズが尊敬するサミー・デイビス・ジュ ニアの靴にキスをしたという逸話をもとに、“そんな尊敬されるグループに育ってほしい” という思いが込められている。その言葉通り、舞台公演も数多くこなし、全国ツアーも積極的に開催している。また、グループ結成からデビューまでの期間が長かったため、オリジナル曲も多い。最近では、メンバーのドラマ出演や、バラエティでの活躍も増えてきており、体当たりの姿勢が評判となっている。現在ジャニーズの中で最も勢いのある、キスマイのコンサートは、毎回濃い内容でファンを楽しませてくれている。</p>
</div>
<%= render 'form' %>