<% content_for :title do %>
北島 三郎のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️北島 三郎のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本を代表する演歌歌手、俳優、作詞家、作曲家、馬主。
『函館の女』に始まる「女」シリーズ、『兄弟仁義』などの「任侠」シリーズなど、数多くのヒット曲がある。<br />
一般にはサブちゃんという愛称で呼ばれているが、原 譲二（はら じょうじ）のペンネームでも知られ、自身の楽曲の作詞・作曲ばかりでなく、自身の舞台のシナリオ・演出や、北島ファミリーはじめ、他の演歌歌手への楽曲提供など、マルチな活動を精力的に行っている。<br />
説明不要の演歌界、音楽界の重鎮である。
  </p>
</div>
<%= render 'form' %>