<% content_for :title do %>
小林 幸子のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️小林 幸子のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「おもいで酒」や「とまり木」、「雪椿」など、数々の大ヒット曲を世に送り出し、日本の演歌界を代表する女性演歌歌手として、確固たる地位を築いてきた小林幸子。<br />特に年末の紅白歌合戦では、盟友である美川憲一との豪華な衣装対決が紅白の名物として多くの視聴者の人気を集め、特に小林幸子のド派手な衣装は、ネットを中心とした若者たちの間で「大きな注目を集める。
  </p>
</div>
<%= render 'form' %>