<% content_for :title do %>
舞台版「こちら葛飾区亀有公園前派出所」(こち亀)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️舞台版「こちら葛飾区亀有公園前派出所」(こち亀)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2016年に連載40周年イヤーに突入している秋本治の「こちら葛飾区亀有公園前派出所」。これまでもアニメ化、舞台化、ドラマ化、映画化と様々なメディアで展開されたこち亀は、老若男女を問わず愛されてきた存在だ。SMAPの香取慎吾が両さんに扮して好評を博したドラマ・映画も記憶に新しい。<br />
  2016年秋には、10年ぶりにこち亀の舞台化が決定した。4度に渡って舞台化されてきたこち亀だが、舞台ならではの両津勘吉のドタバタ劇には注目が集まる。2016年こち亀舞台の主人公・両津勘吉を演じるのは、アニメ版・これまでの舞台版でも両津勘吉を演じてきたラサール石井。こち亀舞台の脚本・演出もラサール石井が担当する。</p>
</div>
 <%= render 'form' %>