<% content_for :title do %>
佐藤アツヒロ主演『新版 国性爺合戦』のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️佐藤アツヒロ主演『新版 国性爺合戦』のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>今回「新版 国性爺合戦」として作 西森英行、演出 伊勢直弘、主演 佐藤アツヒロで2016年9・10月に東京、愛知、福岡、大阪の4都市に初上陸。主演の佐藤アツヒロは元男性アイドルグループ光GENJIのメンバーで現在もジャニーズ事務所に所属している。<br />
  現在は舞台俳優として多く活躍していることからThe Globe Tokyo Produce「TRAVELING」30-DELUX The Ninth Live」「デスティニー」に続き「新版 国性爺合戦」でも主演を務めることになった。</p>
</div>
 <%= render 'form' %>