<% content_for :title do %>
国府 弘子のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️国府 弘子のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>国府 弘子（こくぶひろこ）は、日本のジャズ・ピアニスト、作曲家、編曲家である。ジャズをメインとしているが、ジャンルには捕らわれずクラシック音楽やラテン音楽、ブラジル音楽、ブルース等も積極的に取り入れている。<br />
  1987年にJVCと契約、デビュー・アルバムMore Than You Knowを発表。<br />
1993年には天野清継と、両者の頭文字をとった「天国プロジェクト」を作り、"Heaven"と"Heaven and beyond"を発表した。天野とは彼のデビュー作、"AZURE"にも参加しており、以来の仲である。
NHK-FMのジャズ・トゥナイトのパーソナリティとして隔週で出演している。</p>
</div>
 <%= render 'form' %>