<% content_for :title do %>
倖田 來未のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️倖田 來未のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>倖田 來未（こうだ くみ）は、日本の女性歌手。同じく歌手のmisonoは実妹である。夫はBACK-ONのボーカルKENJI03。<br />
  「エロかっこいい」と形容される独自のスタイルを確立した。<br />
  第21回（2005年度）日本ゴールドディスク大賞 邦楽部門アーティスト・オブ・ザ・イヤーを受賞。またオリコンチャートで3楽曲同時トップ10入りという2003年のB'z以来、そして女性アーティストでは初の快挙を成し遂げた。<br />
  2016年
初の47都道府県ホールツアーを開催決定。代表曲として「Butterfly」｢愛のうた｣やEXILEとのコラボによるバブルガム･ブラザーズのカバー「WON'T BE LONG」などがあり、数々の賞を受賞している。
</p>
</div>
 <%= render 'form' %>