<% content_for :title do %>
きゃりーぱみゅぱみゅのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️きゃりーぱみゅぱみゅのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ファッションモデルでありアーティストとして歌手活動もしている、枠に収まりきらないきゃりーぱみゅぱみゅ。<br />略してKPP。読者モデルを経て原宿から日本のカワイイ文化を伝えるポップアイコンとして、その強烈な名前やファッションセンスで一度目にしたら忘れられない存在である。<br />
  アリアナ・グランデやケイティー・ペリーもファンを公言している程でもある。ユニバーサル・スタジオ・ジャパンとのコラボレーションでは自身の世界観をライドで表現し、アトラクションの前には毎日長蛇の列ができる人気ぶりである。</p>
</div>
  <%= render 'form' %>