<% content_for :title do %>
巨人戦 読売ジャイアンツのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️巨人戦 読売ジャイアンツのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>読売ジャイアンツ(巨人戦)は、日本のセントラル・リーグに属するプロ野球球団のひとつで、正式名称が東京読売巨人軍、ニックネームはよみうりジャイアンツです。その歴史は長く、昭和40年代頃に「巨人・大鵬・卵焼き」という言葉が流行した程に、誰もが好きなものの代名詞とされるほどの人気を誇っていました。<br />
  国民栄誉賞を受賞した長嶋茂雄（1975年就任）や、王貞治（1984年就任）も選手・監督で活躍しました。球団のキャラクターとして、ウサギをモチーフとしたジャビットが三代目マスコットとして、1992年に誕生。読売ジャイアンツのYGのロゴマークを基調としたオレンジ色のキャラクターで、ウサギは頭がよくて走るのも早いという理由でアニメ美術の沢田隆夫がデザインしました。<br />
  読売ジャイアンツには、球団歌の他に応援歌というものがあり、球団歌については本拠地東京ドームの最寄駅であるJR中央・総武緩行線の水道橋駅の発車メロディに使用されています。</p>
</div>
 <%= render 'form' %>