<% content_for :title do %>
Lee Ritenour(リー・リトナー)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Lee Ritenour(リー・リトナー)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Lee Ritenour(リー・リトナー)は、1952年7月18日カリフォルニア州LA生まれです。70年代後半に自身のグループ「ブレンドシップ」「ジェントルソウツ」として活躍しました。また、Lee Ritenour(リー・リトナー)は、フュージョン・ギターの第1人者でもあります。80年代前半にはAOR路線のヒット作品を連発し名を広めました。 <br />ディブ・グルーシンと70年代初期に出会い、数々の共演を重ねたことがきっかけになり1985年に共演アルバム「ハーレクイン」を発売しグラミー賞編曲賞を受賞しました。 2011年にリー・リトナー&マイク・スターン&サイモン・フィリップス等が来日し、2011年2月4日モーション・ブルー・ヨコハマ、5日に丸の内コットンクラブ、6日から10日までブルーノート東京にて来日公演を行いました。<br /> 2015年8月5日にアルバム「ツイスト・オブ・リット」を「ツイスト・オブ」シリーズの第4弾として発売し、自身のヒット曲の新アレンジなどが収録され話題になりました。</p>
</div>
<%= render 'form' %>