<% content_for :title do %>
Lee Jong Hyun(イ・ジョンヒョン)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️CNBLUE イ・ジョンヒョンのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>イジョンヒョンは、韓国の人気バンドCNBLUEのメンバー。ギター＆ボーカルを担当しており、甘い歌声とクールなルックスで人気を集める。CNBLUEといえば、2016年に日本メジャーデビュー5周年のアニバーサリーイヤーを迎え、アリーナツアー「SPRING LIVE 2016 We’re like a puzzle」を大盛況に終えた。<br />5周年という節目を迎えたいま、ソロとしての音楽活動を開始したイジョンヒョン。俳優などでも活躍している彼の動向には目が離せない。</p>
</div>
 <%= render 'form' %>