<% content_for :title do %>
劇団四季「ライオンキング」のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️劇団四季「ライオンキング」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ライオンキングはウォルト・ディズニー原作のミュージカルだ。その人気は高く、国内最多公演回数を驚異的なスピードで更新し続けている。ライオンキングは、1997年にニューヨークのブロードウェイで上演され、1998年12月に日本で劇団四季による「ライオンキング」がはじめて上演された。以降2013年に公演回数8450回を記録し、同じく劇団四季の作品である「キャッツ」を抜いて国内最多となって以来、前人未到の記録を更新し続けている。</p>
</div>
 <%= render 'form' %>