<% content_for :title do %>
劇団四季「リトルマーメイド」のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️劇団四季「リトルマーメイド」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2013年4月から、積水ハウスミュージカルシアター四季劇場・夏において、劇団四季のミュージカル「リトルマーメイド」のロングラン公演が開催されている。1995年からの「美女と野獣」、1998年からの「ライオンキング」、2003年からの「 アイーダ 」に続く劇団四季とディズニーによる提携第4弾であることでも話題となった。もともとのミュージカル「リトルマーメイド」は、1989年にディズニーが制作した劇場版長編アニメーションを2008年に自ら舞台化したものだった。最初の挑戦の舞台はブロードウェイであった。劇場全体を使ったスケールの大きな表現は、アニメーションの物語を華やかにより高度に再現しておりチケットを手にした観客を魅了し世界的な話題となった。<br />
  2012年6月には欧州に渡り「ヨーロッパ版」が誕生。更に創造性に富み洗練されシアトリカルに描かれた「リトルマーメイド」は、その後ロシア・モスクワでも上演され好評を得ている。その内容は地上世界に憧れる人魚姫「アリエル」が、人間の王子「エリック」に恋をしてしまうというストーリー。</p>
</div>
 <%= render 'form' %>