<% content_for :title do %>
Macklemore & Ryan Lewis（マックルモア＆ライアン・ルイス）のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Macklemore & Ryan Lewisのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>アメリカン・ドリームというよりも「成り上がり者」として、今のアメリカのヒップホップ・シーンを一番賑わせているのが、シアトル出身の二人による、インディー・ヒップホップ・デュオのマックルモア＆ライアン・ルイスだ。ほぼ無名だった彼らがリリースしたアルバム「THE HEIST」は、メジャー・レーベルのようなド派手なプロモーションが無いにもかかわらず、全米のiTUNESチャートで1位を獲得すると、さらにビルボード200アルバム・チャートで初登場2位を獲得する大ヒットになり、各メディアが大騒ぎとなる事態に。それはローリング・ストーン誌でも「これがインディーの成上り物語だ」と絶賛するほどの、強烈なインパクトをヒップホップ・シーンのみならず、音楽業界全体を震撼させるような登場だった。</p>
</div>
 <%= render 'form' %>