<% content_for :title do %>
マックスウェルのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️マックスウェルのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Maxwell(Gerald Maxwell Rivera)はアメリカ・ニューヨーク市ブルックリン出身のR＆B・ネオ・ソウル男性歌手。10代からキーボードを弾き作曲活動を開始し、21歳でコロムビア・レコードと契約を果たす。96年にはデビューアルバムの「Maxwell's Urban Hang Suite」をリリースするやいなや、200万枚以上のミリオンセラー となった。<br />
  以後すべてのアルバムにおいてプラチナ以上のセールスを記録した。Maxwellの歌声は独自の官能的と体に染み渡るような神秘さを持っている。2010年にはグラミー賞の最優秀男性R＆Bボーカル・パフォーマンス賞、最優秀R＆Bアルバム賞の2部門を受賞。</p>
</div>
<%= render 'form' %>