<% content_for :title do %>
マイケルシェンカー(MICHAEL SCHENKER)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️マイケルシェンカー(MICHAEL SCHENKER)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>マイケル・シェンカーは、ドイツ出身のハードロックのギタリスト。白と黒の2色で塗り分けられたギブソンのギター「フライングV」を使用していることで有名。日本ではアルバムの邦題から「神」とも称される。<br />
  2011年、ソロアルバム「テンプル・オブ・ロック」を発表。これ以降はこのアルバムから発展したマイケル・シェンカーズ・テンプル・オブ・ロックとして活動を行っており、精力的にワールドツアーを行っている。</p>
</div>
<%= render 'form' %>