<% content_for :title do %>
三森 すずこのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️三森 すずこのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>かつては「黒川 鈴子」名義でミュージカルや舞台を中心に活動しており、出演していた舞台で芸能事務所「響」の当時の社長から「声優にならない?」と声をかけられ、同事務所へ移籍し声優活動を開始した。<br />
  また、アイドルユニット「Cutie Pai」のメンバー「スージー」として2009年7月から10月まで活動していた。
  2015年、第九回声優アワードにて、μ'sの一員として歌唱賞を受賞,2015年12月31日、μ'sの一員として第66回NHK紅白歌合戦に初出場。</p>
</div>
<%= render 'form' %>