<% content_for :title do %>
ミス・サイゴンのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ミス・サイゴンのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>1989年のロンドンのウェストエンドでの初演から25年。これまで世界28カ国300都市、15カ国語で上演され、数々の賞を受賞し、日本でも1992年に帝国劇場で初めて上演されて以来、2008年には公演回数は1,000回を越える、まさにメガ・ミュージカルとして多くのファンを魅了してきたミュージカル「ミス・サイゴン」。<br />
  日本ではもちろん、世界各国でチケットは常に高い人気を集めるそんな「ミス・サイゴン」が、ロンドンの最新演出が加わり、さらにドラマティックに進化して、再び日本で上演される。</p>
</div>
 <%= render 'form' %>