<% content_for :title do %>
MO(ムー)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️MO(ムー)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>デンマーク、オーデンセ出身の女性シンガーソングライターである。本名はKaren Marie Ørsted(カレン・マリー・エルステッド)。デンマーク語で「乙女」を意味する「MØ」。透明感溢れる歌声からは想像もつかないが、2007年にJosefine Struckmannとパンクデュオ「MOR」を結成していた彼女。この時に書いていた歌詞が下品で軽薄だったことから正反対のイメージの「MØ」と命名したと自身で語っている。このユニットは2012年に解散。<br />
  その後ソロ活動を始め、2013年、1stシングル「Glass」でデビューを果たすこととなった。MO(ムー)のデンマークでの人気は高く、日本でのブレイクも期待される注目の歌手である。</p>
</div>
<%= render 'form' %>