<% content_for :title do %>
ももクロ(ももいろクローバーZ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ももクロ(ももいろクローバーZ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>スターダストプロモーション所属の女性グループ。
愛称はももクロ、ももクロちゃん。Zの文字を宙に書いて指を突き出すポーズを常用する。結成当時は全員が学生であったため、週末ヒロインと称して土日を中心にパフォーマンスを開始。2013年元日には、「国立競技場でのライブ開催」を正式に次の目標として宣言。同所が改修される直前の時期である2014年3月にその夢は実現し、女性グループでは初となる国立競技場公演となった。</p>
</div>
<%= render 'form' %>