<% content_for :title do %>
モーニング娘のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️モーニング娘のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本を代表する女性アイドルでありダンスボーカルグループとなったモーニング娘。(モーニングむすめ)は、1997年に生まれた。当時人気のテレビ番組「ASAYAN」の企画からはじまりアップフロントプロモーションに所属、ほぼ全楽曲の作詞・作曲をシャ乱Qのつんく♂が手掛けている。略称はモー娘。(モーむす)<br />
  モー娘。は、加入と卒業、もしくは脱退を繰り返しながら進化していくアイドルグループのパイオニアである。
  1998年のメジャーデビューから2015年12月現在までにリリースしたシングルのうち60作品がオリコンの週間CD販売ランキングのトップ10に、さらにその大部分がトップ5に入り、過去には『NHK紅白歌合戦』に10年連続出場するなど、グループ発足から現在に至るまで15年以上に渡り人気を保ち続けているアイドルグループ。</p>
</div>
<%= render 'form' %>