<% content_for :title do %>
MotoGP 日本グランプリ 2016のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️MotoGP 日本グランプリ 2016のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>MotoGP 日本グランプリは、国際モーターサイクリズム連盟が主催する二輪レースの最高峰カテゴリーMotoGP(ロードレース世界選手権)の日本ラウンドである。その歴史は1949年からと非常に古く、現在ではMoto3、Moto2、MotoGPの3つのクラスが存在する。<br />中でもかつての500ccクラスが2002年より現在の名称となったMotoGPクラスでは、世界各国からトップライダーたちが集結し、トップオブトップを目指して日々しのぎを削りあう。チームはHonda、ヤマハ、スズキ、ドゥカティ、アプリリアの5チームに加え、ワークスマシンの貸与を受けているサテライトチームが参戦している。</p>
</div>
<%= render 'form' %>