<% content_for :title do %>
エリザベート ミュージカルのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️エリザベート ミュージカルのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ミュージカル『エリザベート』は、オーストリア皇帝フランツ・ヨーゼフ１世の皇后であるエリーザベトの生涯、彼女を愛する黄泉の帝王トート、滅び行く帝国を描いたウィーン発のミュージカル。１９９２年にウィーンで初演を迎えたこの作品は、１９９６年に宝塚で、２０００年に帝国劇場での初演が行われた。<br />
  帝国劇場でのキャストは、主役のエリザベート役に宝塚の初演でトートを演じた一路真輝が抜擢され、黄泉の帝王トート役は山口祐一郎と内野聖陽のダブルキャストであった。また、舞台の狂言回しでもあるルキーニ役の高嶋政宏は初演から１２年間一人でこの役を演じ続けた。2000年の東宝版初演から15年目を迎える2015年の公演では、タイトルロールに宝塚版オリジナルキャストで、その圧倒的な華やかさに出演を待ち望まれていた花總まりと2014年の宝塚花組公演で同役を演じ、宝塚歌劇団を退団した蘭乃はな。トート役には2010年に同役でその美貌と歌唱力でたちまち話題となった城田 優と初演にて皇太子ルドルフ役でデビューし、ミュージカル界の若きプリンスに上り詰めた井上芳雄という待望のキャスティングが実現。<br />
  また、狂言回しのルキーニ役は山崎育三郎と尾上松也、皇帝フランツ役は田代万里生と佐藤隆紀という若手実力派が演じる。そして、皇太后ゾフィー役には剣 幸と香寿たつき、悲劇の皇太子ルドルフ役には前回から続投の古川雄大に加えてジャニーズJr.の京本大我とフレッシュな顔ぶれが揃った。キャストだけではなく、舞台美術、衣裳も一新する『エリザベート』は次なる歴史に向けて更に大きく進化を続けている。</p>
</div>
<%= render 'form' %>