<% content_for :title do %>
中川家のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️中川家のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>中川家の剛と礼二の兄弟が織りなす漫才やモノマネは天下一品。1995年の上方漫才大賞新人賞、2001年のM1グランプリをはじめとして数えきれないほどの賞をとっている。漫才では身長の低い兄の剛のおっとりしたボケに、声も体も大きい弟の礼二のツッコミが冴え渡る。</p>
</div>
 <%= render 'form' %>