<% content_for :title do %>
中島 美嘉のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️中島 美嘉のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2001年『傷だらけのラブソング』の主題歌「STARS」をリリースし、歌手デビューを果たす。<br />
  ファースト・アルバム『TRUE』をリリース。オリコン初登場1位・ミリオンセラーを記録した。<br />
  第44回日本レコード大賞最優秀新人賞など、数々の音楽新人賞を受賞し、『第53回NHK紅白歌合戦』にも初出場を果たした。<br />
  新しいプロジェクト「MIKA RANMARU」を始動させ、そのお披露目ライブ「MIKA RANMARU 〜MIKA NAKASHIMA 15th ANNIVERSARY〜 ROCK'N' ROLL LIVE」を開催<br />
  代表曲として「雪の華」「桜色舞うころ」などが挙げられ、自身が主演した映画『NANA』の主題歌「GLAMOROUS SKY」は「NANA starring MIKA NAKASHIMA」名義でリリース。</p>
</div>
 <%= render 'form' %>