<% content_for :title do %>
中村 あゆみのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️中村 あゆみのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>高校3年の1984年9月5日に高橋研プロデュースによるシングル「MIDNIGHT KIDS」でハミングバードレコードよりデビュー。翌1985年4月21日にリリースした3枚目のシングル「翼の折れたエンジェル」が日清カップヌードルのCMに起用されて大ヒットを記録する。<br />
  代表曲には、「翼の折れたエンジェル」のほかに、翌1986年「ちょっとやそっとじゃCAN'T GET LOVE」、1989年「ともだち」などがある。その他、プロレスラーの鈴木みのるに入場曲「風になれ」を提供している。<br />
  独特のハスキーボイスの持ち主で、「デビューするに至り、自ら喉を潰した」などと噂されることが多々あるが、生まれながらのものである。</p>
</div>
<%= render 'form' %>