<% content_for :title do %>
NGT48のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️NGT48のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>NGT48（エヌジーティー フォーティエイト）は、秋元康のプロデュースにより、2015年に誕生した新潟市を拠点とする日本の女性アイドルグループ。AKB48を含めて日本国内外にあるAKB48の「姉妹グループ」の7組目として2015年に結成され、同年8月21日に新潟市歴史博物館（みなとぴあ）にてお披露目された。 新潟市中央区万代にある『ラブラ2』4階に、専用劇場『NGT48劇場』が2016年1月10日にオープンした。2016年6月時点で、柏木・北原以外のメンバーはSNSの個別アカウントを持っておらず、発信ツールは会員制のフォトログとNGT48 Mailだけである</p>
</div>
<%= render 'form' %>