<% content_for :title do %>
新垣里沙(ニイガキリサ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️新垣里沙(ニイガキリサ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ダンス&ボーカルグループのモーニング娘。の元メンバー（第5期）・7代目リーダー。モーニング娘。在籍期間はおよそ10年8カ月（在籍日数3918日）であり、2016年4月末現在、同グループに在籍していた道重さゆみに次いで在籍期間が長い。</p>
</div>
<%= render 'form' %>