<% content_for :title do %>
新日本プロレスのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️新日本プロレスのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>アントニオ猪木によって設立されて以来、藤波辰巳や長州力ら人気レスラーたちによって様々な伝説的な試合が繰り広げられ、昭和のプロレスブームを牽引し、以後も武藤敬司、蝶野正洋、橋本真也の闘魂三銃士など、日本のプロレス界の中心として多くの人気選手を輩出してきた新日本プロレス。<br />
  しかし総合格闘技の台頭や、団体同士の抗争や分裂などにより、一時人気が落ち込んでいった日本のプロレス界。それは新日本プロレスも同じ。<br />
  しかし近年、様々な企業とのコラボやテレビ番組への選手の出演などによって、若い世代、特に女性の間でプロレス人気が広がりプロレス好きな女性を「プ女子」と呼び、あらたなプロレスブームの幕開けを期待させる盛り上がりを見せている。</p>
</div>
 <%= render 'form' %>