<% content_for :title do %>
NMB48のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️NMB48のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>NMB48（エヌエムビー フォーティエイト）は、秋元康のプロデュースにより、2010年に誕生した、大阪市・難波を拠点とし近畿地方を中心に活動する日本の女性アイドルグループ。AKB48の全国展開の一環で、名古屋のSKE48に続く第2弾として大阪市が選ばれ、2010年10月9日の東京・葛西臨海公園での野外ライブ『Visit Zooキャンペーン応援プロジェクト AKB48 東京秋祭り supported by NTTぷらら』において初めてお披露目され発足した。メンバー個人が持つファンとのコミュニケーションツールとして、全メンバーが対象の『NMB48オフィシャルブログ powerd by Ameba』、Google+、Twitter、755、有料会員登録制でメンバーのメッセージをメールで配信する『NMB48 Mail』がある。</p>
</div>
<%= render 'form' %>