<% content_for :title do %>
NOBUNAGA 信長 下天の夢のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️NOBUNAGA 信長 下天の夢のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「NOBUNAGA＜信長＞ －下天の夢－」は、宝塚歌劇月組の大劇場公演。2016年6月～9月にかけて宝塚大劇場・東京宝塚劇場にて上演される。主演は龍真咲・愛希れいか。併演はシャイニング・ショー「Forever LOVE!!」。「NOBUNAGA＜信長＞ －下天の夢－」は、龍真咲が織田信長に扮し、その生涯を描くロックミュージカル。<br />うつけ者や魔王と呼ばれても己を貫き通し、儚い人の世"下天"で確かな生き様を示し、戦国乱世を華々しく駆け抜けた織田信長は、龍真咲のはまり役となることは間違いない。</p>
</div>
<%= render 'form' %>