<% content_for :title do %>
乃木坂46のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️乃木坂46のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>乃木坂46（のぎざか フォーティーシックス、Nogizaka46）は、日本の女性アイドルグループ。</p><p>秋元康のプロデュースにより、2011年8月21日に誕生した。既存のアイドルグループと差別化を図るため、フレンチ・ポップスが採用された。衣装もその方向で制作され、歌衣装は「フランス領にある女学校の生徒」をコンセプトに紫をキーカラーに淡い色調で彩られたクラシカルなフォルム、白い三つ折りソックスとワンストラップのエナメルシューズを定番とし、1stシングルから5thシングルまでの歌衣装の多くを堀越絹衣が担当した。</p>イベントやテレビ収録時に着用する制服衣装はスタイリストの米村弘光がデビュー時から担当した。</p>
</div>
 <%= render 'form' %>