<% content_for :title do %>
NON STYLE(ノン・スタイル)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️NON STYLE(ノン・スタイル)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>NON STYLE(ノン・スタイル)はボケの石田明とツッコミの井上裕介の2人による漫才コンビです。結成直後は神戸・三宮駅で路上漫才で腕を磨き、2000年5月にbaseよしもとのオーディション合格と共に吉本興業に所属したため、NSCには在籍していませんでしたが、キャリアとしてはキングコング、南海キャンディーズ・山里、ウーマンラッシュアワー・村本、平成ノブシコブシ、ピースなどと同期になります。2007年までにお笑いの新人賞6冠を達成、同年にはNHK「爆笑オンエアバトル」のチャンピオンにも輝くなど、華々しい実績を残します。<br />
  2008年から東京に拠点を移すと、同年のM-1グランプリに優勝、以降もTHE MANZAI決勝大会に2度進出するなど、ハイスピードでテンポの良い漫才には定評があります。</p>
</div>
<%= render 'form' %>