<% content_for :title do %>
野瀬 栄進のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️野瀬 栄進のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>野瀬栄進は作曲家・ピアニスト。ニューヨーク在住。幼少のころよりピアノを習うが、段々とクラシック音楽としてのピアノよりもジャズとしてのピアノに傾倒していく。<br />
  1992年に本場でのジャズ演奏を志しアメリカ合衆国カリフォルニア州へ渡る。様々なライブハウスで演奏し、ファンフェアーというヴォーカル・グループに参加する。<br />
  1994年にニューヨークへ移住し、音楽学校でジャズ・ピアノを改めて習う。ジャッキー・バイアード、リッチー・バイラーク、フィル・マルコウィッツに師事し、ニューヨークのライブハウスで様々なジャズ・ミュージシャンとも共演した。<br />
  トリオ・カルテットでの演奏がメインだが、ソロとしても活動している。アメリカでの活動が主力だが、ヨーロッパ・日本でも活動の場を拡げており、作曲・音楽プロデューサーとしての活動も並行して行なっている。</p>
</div>
 <%= render 'form' %>