<% content_for :title do %>
小田 和正のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️小田 和正のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>小田和正の美しい声は、世代を超えて多くの人を魅了し続ける。オフコースとして、そしてソロとして、これまで数え切れないほどのコンサートを行ってきた小田和正は、シンガーソングライターとして、そしてパフォーマーとして、日本のミュージックシーンに数々の金字塔を打ち立ててきた<br />
  1991年のドラマ主題歌「ラブ・ストーリーは突然に」のスマッシュヒットにより、自身初のミリオンヒットとなった。</p>
</div>
 <%= render 'form' %>