<% content_for :title do %>
小倉 唯のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️小倉 唯のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>小倉唯は、日本の声優・女優、アイドルであり歌手。ゆいかおりのメンバーで、 StylipS の元メンバー。<br />アニメの声優としても「ガールフレンド」（朝比奈桃子役）や「アクエリオンEVOL」（ユノハ・スルール役）として活躍。またダンサーとして「新・美空ひばり物語 」・ミュージカル「しゅごキャラ!」に出演している。<br />
  2015年にはファーストアルバム「Strawberry JAM」のリリース・ファーストライブ「HAPPY JAM」も開催しました。、活躍の幅を広げている注目の女性です。</p>
</div>
 <%= render 'form' %>