<% content_for :title do %>
大原 櫻子のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️大原 櫻子のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>。2013年に公開された映画「カノジョは嘘を愛しすぎてる」のオーディションで、その映画には欠かせない歌唱力を評価され、5000人もの中からヒロインの小枝理子役に抜擢された。<br />
  デビュー直後でありながら「2013FNS歌謡祭」に出演したり、「第56回日本レコード大賞」新人賞を受賞するなど、今後の活躍に大いに期待の女性です。</p>
</div>
<%= render 'form' %>