<% content_for :title do %>
おかあさんといっしょのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️おかあさんといっしょのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>おかあさんといっしょは、ＮＨＫの子供向け番組「おかあさんといっしょ」のファミリーコンサートやスペシャルステージを行っています。乳幼児がいる家庭ではほとんどが見ているであろう番組が「おかあさんといっしょ」です。そのコンサートなので大変人気がありチケットをとるのも大変です。<br />子供向け番組とは言え、うたのお姉さんは歴代素晴らしい歌唱力の持ち主が務めており、子供だけではなく一緒に観ているお父さんやお母さんにもファンはたくさんいます。</p>
</div>
<%= render 'form' %>