<% content_for :title do %>
大黒 摩季のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️大黒 摩季のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本のシンガーソングライターです。1992年にシングル「STOP MOTION」でデビューし、2ndシングル「DA・KA・RA」が大ヒット、第34回日本レコード大賞新人賞を受賞。さらに「チョット」「あなただけ見つめてる」などのヒット曲を世に送り出した。<br />
  2010年から治療などのために歌手活動を無期限中止にすると発表していたが、2015年に行った手術と長年にわたる投薬治療などで症状に改善が見られはじめたことから、2016年より段階的に歌手活動を再開していく旨を発表した。今後の活動に要注目だ。</p>
</div>
<%= render 'form' %>