<% content_for :title do %>
大島 優子のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️大島 優子のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本の女優で、女性アイドルグループAKB48の元メンバーである。愛称はゆうこ。<br />
  前田敦子とともにグループを引っ張ってきましたが、2014年にAKB48を卒業しました。同年に公開された映画『紙の月」では日本アカデミー賞優秀助演女優賞に輝きます。舞台出演やCMに多く起用されるなど活動の場は多岐にわたる。</p>
</div>
<%= render 'form' %>