<% content_for :title do %>
大塚 愛のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️大塚 愛のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本のシンガーソングライター、女優、イラストレーター、絵本作家。愛称は「愛ちん」。Rabbitのボーカル。夫はRIP SLYMEのメンバーSU。<br />
  「さくらんぼ」の着うたが史上初の100万件ダウンロードの記録達成。 2ndアルバム『LOVE JAM』リリース。自身初となるオリコン初登場1位を記録。<br />
  『第46回 輝く!日本レコード大賞』に初出演、最優秀新人賞を受賞する。さらにNHK『第55回NHK紅白歌合戦』に初出場、「さくらんぼ」を歌唱する。<br />
  近年では、10周年記念ライブツアー「大塚 愛 LOVE IS BORN 2013 10th. Anniversary」を開催、同年12月には初の弾き語りライブ「AIO PIANO vol.1」を開催。
  <br />2015年には「ROCK IN JAPAN FESTIVAL 2015」に参加。9月に約3年ぶりの会場となる日比谷野外音楽堂にて「大塚 愛 LOVE IS BORN ～12th Anniversary 2015～」を行った。</p>
</div>
 <%= render 'form' %>