<% content_for :title do %>
劇団四季「オペラ座の怪人」のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️劇団四季「オペラ座の怪人」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>劇団四季「オペラ座の怪人」はフランスの作家ガストン・ルルーによって1909年に発表された小説を原作に作られたミュージカルです。劇団四季は俳優・スタッフ700名以上を有し、年間3000ステージを超す上演をしています。その年間観客動員数は延べ300万人の日本最大規模の劇団です。中でも「オペラ座の怪人」は1988年の初演以来好評で2013年には通算公演回数6000回、観客動員数延べ605万人を達成しました。</p>
</div>
 <%= render 'form' %>