<% content_for :title do %>
パリ管弦楽団のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️パリ管弦楽団のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>1967年にパリに設立されたフランスのオーケストラ。現在ではフィルハーモニー・ド・パリで演奏会を行っている。<br />
  ミュンシュ時代のブラームスやラヴェルの録音、ショルティ時代のリストの録音、バレンボイム時代の近代フランス音楽集や、ビシュコフ時代のラフマニノフの録音などが代表的録音である。<br />
  ダニエル・ハーディングが2016年首席指揮者。</p>
</div>
<%= render 'form' %>