<% content_for :title do %>
おそ松さんのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️おそ松さんのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>アニメおそ松さんの原作は、赤塚不二夫とフジオプロによる日本の漫画作品である「おそ松くん」。赤塚不二夫生誕80周年を記念してTVアニメが制作され、爆発的な人気となった。6つ子の声を演じる櫻井孝宏、中村悠一、神谷浩史、福山潤、小野大輔、入野自由の主要キャスト6名に加え、トト子役の遠藤綾が出演。豪華すぎる声優陣も話題になった。<br />
  そして2016年秋、なんと舞台化が決定。おそ松役に高崎翔太、カラ松役に柏木佑介、チョロ松役に植田圭輔、一松役に北村 諒、十四松役に小澤 廉、トド松に赤澤遼太郎という旬の若手俳優達を迎えた。非常に楽しみな舞台になりそうだ。</p>
</div>
<%= render 'form' %>