<% content_for :title do %>
宝塚星組『桜華に舞え』『ロマンス！！（Romance）』のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️宝塚星組『桜華に舞え』『ロマンス！！（Romance）』のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>北翔海莉・妃海風というトップコンビがおくる、宝塚歌劇星組の大劇場公演「桜華に舞え / ロマンス！！」。「桜華に舞え」は、齋藤吉正演出により、幕末に生まれ、明治維新の立役者として生きた最後の侍・桐野利秋の生き様が描かれる。「ロマンス！！」は岡田敬二待望のロマンチック・レビューシリーズの新作。北翔・妃海の率いる星組は、ディズニーコンサート「LOVE&DREAM」、礼真琴主演「鈴蘭」、オペレッタのミュージカル化「こうもり / THE ENTERTAINER！」、若手選抜バウ「Bow Singing Workshop」、北翔・妃海のバウ公演「One Voice」ら数々の公演を経ての「桜華に舞え / ロマンス！！」。</p>
</div>
<%= render 'form' %>