<% content_for :title do %>
小澤 征爾のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️小澤 征爾のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本を代表する世界的な指揮者です。子どもの頃の夢はピアニストだったが所属していたラグビー部で大けがをして断念した。<br />
  1951年、成城学園高校で齋藤秀雄の指揮教室に入門、その後桐朋学園短期大学へと進学する。1950年代後半からは群馬交響楽団での指揮者、2002-2003年のシーズンから2009-2010年のシーズンまでウィーン国立歌劇場の音楽監督を務めました。国内においては文化勲章、海外でもウィーン・フィルハーモニー管弦楽団名誉団員などの称号をうけています。<br />
  甥に小沢健二がいる。<br /></p>
</div>
<%= render 'form' %>