<% content_for :title do %>
QUEEN(クイーン)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️QUEEN(クイーン)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Queen(クイーン)は1973年から活動を開始した、イギリスを代表するロックバンド。日本でも人気が高いバンド。ロック雑誌「ミュージック・ライフ」にも猛プッシュされ、特に女性から厚い人気を得ている。アルバムとシングルの売り上げは3億枚を超え、「世界で最も売れたアーティスト」の1つと言われている。<br />1991年にメインボーカルであるフレディ・マーキュリーが亡くなり、さらにベースのジョン・ディーコンが引退したが、現在も活動中である。2012年からは「アメリカン・アイドル」をきっかけとして、アダム・ランバートを迎えた「Queen + Adam Lambert」としてライブ活動を行っている。</p>
</div>
<%= render 'form' %>