<% content_for :title do %>
楽天ジャパンオープンテニスのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️楽天ジャパンオープンテニス2017のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>を集めている「楽天ジャパンオープンテニス」。それはやはり日本が世界に誇るテニス・プレイヤーの錦織圭選手の、世界の舞台で活躍が大きな要因と言えるだろう。世界のトップ・プレイヤーとしのぎを削り、日本人初の世界ランキングのトップ10入りを果たすなど、特に2014年に入ってからの錦織圭の活躍は、日本テニス界にとっても待ちに待ったスター誕生と言えるだろう。</p>
</div>
<%= render 'form' %>