<% content_for :title do %>
柏レイソルのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️柏レイソルのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本の千葉県柏市をホームタウンとする、日本プロサッカーリーグ（Jリーグ）に加盟するプロサッカークラブ。<br />
  2012年には天皇杯を制するなど実力も折り紙付き。特筆すべきはスタンドをユニフォームやフラッグでチームカラーの「黄色」に染めるサポーターで、その熱狂ぶりは有名！さらに大一番では熱狂する一部の男性サポーター達が上半身裸で応援するなど自由奔放な応援スタイルも魅力のひとつだ。<br />
  2016年のチームスローガンは「柏から世界へ UNIDOS SOMOS FORTES」</p>
</div>
<%= render 'form' %>