<% content_for :title do %>
RICHARD BONA(リチャード・ボナ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️RICHARD BONAのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>幼いころから音楽に親しんでいて、5歳にしてすでにアフリカの木琴であるバラフォンをはじめとしたさまざまな楽器を弾きこなし、家族と共に村の教会などで歌や演奏をしていました。<br />
  同国の大都市であるドゥアラに移り住むと、ジャズクラブでは主にギターを使っていたのですが「ジャコ・パストリアスの肖像」というアルバムに多大な影響を受けベーシストとなります。1990年にパリへと渡り、音楽の勉強をしながら地元ミュージシャンたちとも積極的に活動をはじめます。1995年にはジョーザヴィヌルと共演し、拠点をニューヨークへと移します。<br />
  2000年には、デイビッドサンボーンやジョーサンプルらとS.S.B.B.バンドを組みワールドツアーを周り、翌年にはギタリストの中村善郎と共作の「かぜがくれたメロディー」を発表。この作品でRICHARD BONAは日本語の歌詞にも挑戦しました。</p>
</div>
<%= render 'form' %>