<% content_for :title do %>
リンゴスターのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️リンゴスターのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>リンゴ・スター(RINGO STARR)は1940年生まれのイギリスのリバプール生まれのミュージシャンです。1962年にビートルズに加入し、ドラマーとして活躍しました。<br />
  ビートルズ時代は「Abbey Road」や「Let It Be」など世界的なヒットを立て続けに出し、20世紀を代表するアーティストの一人となりました。リンゴの愛称で世界中のファンから親しまれ、ビートルズ時代は日本にも来日するなど日本でも高い人気を誇りました。<br />1970年のビートルズ解散以降も個人名義で数々の作品をリリースするなど精力的な活動をしています。近年では他のアーティストとのコラボを行ったり、映画にも出演するなど活躍の幅を広げています。</p>
</div>
 <%= render 'form' %>