<% content_for :title do %>
宝塚花組『仮面のロマネスク』『Melodia－熱く美しき旋律－』のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️宝塚花組『仮面のロマネスク』『Melodia－熱く美しき旋律－』のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「仮面のロマネスク」は、宝塚歌劇が上演するミュージカル作品。脚本は柴田侑宏。原作はコデルロス・ド・ラクロの『危険な関係』。原作では1780年代フランス革命前夜の設定であったが、本作ではそれを50年ほどずらして1830年代ナポレオン失脚後の王政復古時代の設定にしている。<br />
  過去に1997年雪組公演、2012年宙組公演を上演しており2016年花組公演を行う。併演は中村一徳 作・演出のショー「Melodia-熱く美しき旋律-」。</p>
</div>
 <%= render 'form' %>