<% content_for :title do %>
早霧 せいな(サギリセイナ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️早霧 せいな(サギリセイナ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>1999年、宝塚音楽学校入学。第87期生。
2001年、宝塚歌劇団入団。入団時の成績は19番。『ベルサイユのばら2001』で初舞台を踏み、その後宙組へ配属。同期には、龍真咲（月組トップスター）・沙央くらま・夢乃聖夏・和音美桜・音花ゆりらがいる。また、TAKARAZUKA SKY STAGEでは同期の咲花杏と共に第2期スカイフェアリーズを務めた。<br />
2002年4月、出身地である佐世保市の市制100周年記念事業開幕記念式典において総合司会を務める。<br />
2015年1月1日、『ルパン三世 -王妃の首飾りを追え!-／ファンシー・ガイ！』にて宝塚大劇場でのトップお披露目となった。同年、歌劇団の2014年度賞、優秀賞を受賞。</p>
</div>
 <%= render 'form' %>