<% content_for :title do %>
サンドウィッチマンのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️サンドウィッチマンのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>サンドウィッチマンは伊達みきおと富澤たけしによるお笑いコンビ。彼らは2007年のM-1グランプリにおいて敗者復活から優勝という金字塔を打ち立て、一気に人気芸人の仲間入りを果たした。富沢たけしの飄々とした雰囲気から繰り出すボケと、伊達みきおのキレのある突っ込みによって生み出されるサンドウィッチマンのコントや漫才は、世代を超えて多くのお笑いファンから高い人気を集めている。<br />
  彼らは多くのテレビ番組に出演してお茶の間を楽しませているが、毎年のように開催しているオール新ネタによる単独ライブも見逃せない。</p>
</div>
 <%= render 'form' %>