<% content_for :title do %>
三遊亭 好楽のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️三遊亭 好楽のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>人気番組「笑点」のレギュラーメンバーであり、ピンクの着物に身を包む三遊亭好楽は、誰もが目にしたことのある存在だろう。1966年に8代目林家正蔵(後の彦六)に入門し、林家九蔵を名乗る。1979年に33歳で「笑点」レギュラーに抜擢され、35歳で真打に昇進した。落語家としては順風満帆かと思いきや、不遇な時代も送ってきた波乱万丈な人生がある。<br />
  その後、師の彦六が亡くなり、5代目三遊亭圓楽一門に入り、5代目三遊亭圓楽一門となった。その際に現在の「三遊亭好楽」改名し、これを機に「笑点」を卒業。4年半ほど時期をおいて、1988年に再び「笑点」に復帰した。その後は30年以上もの間「笑点」で活躍をし、国民的落語家として名を知らせた。</p>
</div>
 <%= render 'form' %>