<% content_for :title do %>
ミュージカル スカーレット・ピンパーネルのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ミュージカル スカーレット・ピンパーネルのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>スカーレット・ピンパーネルは、バロネス・オルツィの小説「紅はこべ」を原作とするミュージカル作品。 フランク・ワイルドホーンが作曲し、1997年にブロードウェイで初演された。日本では、 ブロードウェイミュージカルを元に小池修一郎が潤色・演出を担当し、宝塚歌劇団で上演されている。<br />
  そして2008年に星組(安蘭けい、遠野あすか)、2010年に月組(霧矢大夢、蒼乃夕妃)が上演し、大ヒットした舞台である。2016年秋の公演では、無実の貴族達を救う謎の集団「スカーレット・ピンパーネル」のパーシー役を石丸幹二が、その妻マルグリット役を安蘭けいが演じる。</p>
</div>
 <%= render 'form' %>