<% content_for :title do %>
セレーナゴメスのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️セレーナゴメスのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>セレーナ・ゴメスは、子役としてアメリカのテレビシリーズ「バーニー&フレンズ」でデビューしてから、子役としてさまざまな作品に出演し、「ウェイバリー通りのウィザードたち」で一躍人気スターとなるなど、早くから女優としての才能を開花させた。<br />
  そんな彼女は、多忙を極める女優としての活動と並行して、夢である歌手としての活動へも意欲的に取り組み、これまでソロとしてもサウンドトラックとして曲をリリースしたり、また自らポップ・バンド「セレーナ・ゴメス&ザ・シーン」を結成し、アルバムを発表するなどマルチな才能を披露している。</p>
</div>
 <%= render 'form' %>