<% content_for :title do %>
SEVENTEEN(セブンティーン)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️SEVENTEEN(セブンティーン)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>オレンジキャラメルなどが所属しているPledisから13人大型男性グループとしてデビューした。SEVENTEENが出演したリアリティ番組「SEVENTEENプロジェクト デビュー大作戦」では、オンラインを通して公開された練習生システムプログラムを行い、放送・公演の活動もすべて公開された。新人らしくない新人と言わしめた彼らの公演が楽しみだ。</p>
</div>
<%= render 'form' %>