<% content_for :title do %>
清水 翔太のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️清水 翔太のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>清水翔太は日本のポップ・R&Bシンガーソングライター。地元大阪のスクールでゴスペルを学び、ソウルミュージックに魅せられた事をきっかけに作詞・作曲・アレンジをこなす。17歳の頃から全国ボーカリストオーディションに出場し、トップ10まで残った経歴を持つ。<br />2007年NYの音楽の殿堂「アポロシアター」に出演すると、「100万人に1人の生まれながらにしてのソウル・シンガー」と地元紙から絶賛された。<br />2008年2月に「HOME」でMASTERSIX FOUNDATIONよりメジャーデビュー。オリコン週間CDシングルチャートで10代の男性歌手としては史上最高位である5位を記録し、SPACE SHOWER Music Video Awards 2009にて最優秀新人ビデオ賞の受賞も果たした。<br />2009年5月には加藤ミリヤとのジョイントシングル「Love Forever」を発表。これまでの楽曲とは異なるアップテンポな曲で、RIAJ有料音楽配信チャートで最高位を記録する大ヒットとなった。</p>
</div>
<%= render 'form' %>