<% content_for :title do %>
しまじろうコンサート2016のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️しまじろうコンサート2016のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>しまじろうコンサートは、ベネッセ「こどもちゃれんじ」のキャラクター、しまじろうを中心にした参加型のコンサート。歌や踊りのエンターテイメントだけでなく、参加する子供の成長や感動体験の場として提供されている。生の舞台ならではの一体感で、しまじろう、みみりん、とりっぴい、にゃっきい、ガオガオさん、ようこおねえさん、はるみおねえさん、といった楽しいキャラクターたちと一緒に歌いながら楽しみ、考え、親子揃って夢中になれるステージとなっている。</p>
</div>
<%= render 'form' %>