<% content_for :title do %>
立川志の輔のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️立川志の輔のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>立川志の輔(たてかわしのすけ)は、富山県出身の落語家、タレント。本名は竹内照雄。 故・立川談志に入門し、立川流の落語家となる。 大学在学中の落研時代から3代目古今亭志ん朝への憧れが強かったが、国立演芸場での「談志ひとり会」で7代目(自称5代目)立川談志の『芝浜』を観たことが、談志に入門する決め手となった。この時の談志の『芝浜』は、従来の『芝浜』とは異なる作風へと劇的に変化したものだった。<br /> 1984年、二つ目に昇進。高座名も引き続き「志の輔」を名乗る。この頃から、上野本牧亭での「勝手に志の輔の会」など、「志の輔」の名前を付けた落語会を開催するようになる。 翌1985年、『朝のホットライン』のレポーターに抜擢されたことで、知名度が一気に上昇。その他、NHK生活情報番組「ためしてガッテン」の司会も務めている。 </p>
</div>
<%= render 'form' %>