<% content_for :title do %>
神野 美伽(シンノミカ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️神野 美伽(シンノミカ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>大阪府貝塚市出身の演歌歌手。<br />
  </p>
</div>
 <%= render 'form' %>