<% content_for :title do %>
吉本新喜劇のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️吉本新喜劇のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>1959年3月1日「吉本ヴァラエティ」として発足。当初は当時の既存のスターに頼っていたが、自前のスターが出てくるようになった。当時は大阪にある「なんば花月」と「うめだ花月」、京都にある「京都花月」、それぞれの吉本直営の演芸劇場で上演され、さらには関西圏では土曜日昼にテレビ放映されることで世間ではかなり高い認知度を得ることとなる。<br />
  しかし劇場の老朽化と閉鎖と同じくして新喜劇人気も下火となった。それを逆手にとり「新喜劇やめよっカナ!?キャンペーン」で全国のメディアに取り上げられ復活を果たす。ドタバタ中心のナンセンス軽演劇は「漫才芝居」と形容され、現在は「なんばグランド花月」で本公演が行なわれ、地方公演巡業での公演もある。</p>
</div>
<%= render 'form' %>