<% content_for :title do %>
私立恵比寿中学(エビ中)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️私立恵比寿中学(エビ中)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>スターダストプロモーションに所属する、2009年に結成された女性アイドルグループ。自称「King of 学芸会」。略称はエビ中。<br />結成当初は「キレのないダンスと不安定な歌唱力」をキャッチフレーズに家電量販店やショッピングセンターなどでの無料公演を中心に活動を行う。<br />
  しかし2013年12月8日には、メジャーデビューから1年7カ月でさいたまスーパーアリーナでコンサートを行い、シドの持つメジャーデビューから2年の記録を5カ月上回り、日本人史上最速でさいたまスーパーアリーナ単独公演を実現した</p>
</div>
<%= render 'form' %>