<% content_for :title do %>
少年たち 危機一髪！の舞台のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️少年たち 危機一髪！の舞台のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ジャニーズ伝統の舞台「少年たち」シリーズ。その最新作が2016年9月から上演される。毎年恒例のこの舞台、2015年は松竹座公演では関西ジャニーズJr.(西畑大吾、向井康二、室 龍太)が主演をつとめ、関西ジャニーズJr.が総出演した。東京日生劇場公演ではSixTONES(ジェシー、松村北斗、京本大我、田中樹、森本慎太郎、高地優吾)とSnowMan(岩本照、深澤辰哉、渡辺翔太、宮舘涼太、佐久間大介、阿部亮平)が出演し人気を集めた。2016年はSixTONES、SnowManのメンバーたちが東京日生劇場で最新作「少年たち」を上演する。</p>
</div>
 <%= render 'form' %>