<% content_for :title do %>
舞台『娼年』のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️舞台『娼年』のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>娼年 舞台は、石田衣良原作 「娼年」が2016年に 三浦大輔脚本・演出によって、2016年8月・9月に東京芸術劇場プレイハウス、大阪、久留米にて上演される舞台。出演は、ドラマ・映画以外に「銀河英雄伝説」や「真田十勇士」などの舞台に出演している松坂桃李と、高岡早紀など。</p>
</div>
 <%= render 'form' %>