<% content_for :title do %>
イェソン(YESUNG)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️SUPER JUNIOR イェソンのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>アイドルグループ、Super Juniorのメンバーで歌手、俳優で、2001年、SM青少年ベスト選抜大会歌部門1位を獲得しデビュー。「芸術的な声帯」という意味で「芸声(イェソン)」と名付けられた。その歌唱力は抜群で、所属するユニットに留まらず韓国の歌謡界でもトップクラスの実力と言われている。Super Juniorのボーカルラインのメンバーで構成されたSuper Junior-K.R.Yのメンバーでもあり日本のツアーでも圧倒的な歌唱力でファンにバラードを聴かせている。イェソン(YESUNG)個人でも映画、舞台、ラジオにテレビと広く活動、活躍している。</p>
</div>
 <%= render 'form' %>