<% content_for :title do %>
SKE48のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️SKE48のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>SKE48（エスケーイーフォーティーエイト）は、日本の女性アイドルグループ。専用劇場を名古屋市・栄に有し、ここを拠点として中京圏を中心に活動している。秋元康が総合プロデュースを手掛けるAKB48の姉妹グループ（AKB48グループ）の1つで、2008年に誕生した。専用劇場の『SKE48劇場』は、名古屋市営地下鉄栄駅よりサカエチカを通じて直結する複合ビル「サンシャイン栄」の2階にある。2008年10月5日に初公演を行った。通常ほぼ毎日のペースで定期的に行われている「劇場公演」は、3つの正規チームや研究生などがそれぞれに割り当てられた演目を交代で上演するもので、約2時間の歌・ダンス・トークからなる</p>
</div>
<%= render 'form' %>