<% content_for :title do %>
プリキュア ミュージカルのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️プリキュア ミュージカルのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>プリキュア!は、2004年から放映されているアニメで、第1作目の「ふたりはプリキュア」からヒットしました。1シリーズはおおよそ1年で構成されており、2014年第11作品目「ハピネスチャージプリキュア！」で放映通算500回を数えます。プリキュアというタイトルは「PRETTY（かわいい）」と「CURE（癒やす）」から考えられた造語です。<br />
  物語の構成は、妖精に助けを求められた少女がプリキュアと呼ばれる伝説の戦士に変身し、悪の組織と怪物を倒すというのを軸に、プリキュアを務める少女達の友情も描かれています。スピンオフ作品としての映画作品も多く上映されており、また歴代のプリキュアが勢揃いするオールスターズ作品も人気があります。映画、アニメのみならずカードゲーム、ニンテンドーDSソフト、オンラインゲーム、スマートフォンアプリ、グッズ販売など幅広い展開があり、アニメの対象とされている幼少女児以外にも、大人世代にも長く愛されている作品です。発売開始になるとすぐに完売してしまうほど、子供たちにとっては憧れのイベントです。
</p>
</div>
 <%= render 'form' %>