<% content_for :title do %>
スヌーピーミュージアムのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️スヌーピーミュージアムのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>スヌーピーファンの聖地とされるシュルツ美術館の世界初のサテライトとして、東京・六本木に2016年4月に誕生した「スヌーピーミュージアム」。9月まで開かれているオープン記念展では、作者のチャールズ M.シュルツの初の作品や、作者の妻であるジーン・シュルツさんが選んだ「愛しのピーナッツ」原画60点など見どころ満載。シュルツ氏の人間性や創作エピソードなど、ジーンさんだけが知っている数々の秘話が明かされる。スヌーピーミュージアムでは貴重なコレンションや資料を半年ごとに入れ替え公開する。<br />
  また特別展では、日米の文化人たちの「愛しのピーナッツ」も披露される。BROWN'S STOREでは、ここでしか手に入らない限定商品も数多く並ぶ。</p>
</div>
 <%= render 'form' %>