<% content_for :title do %>
スピッツ(Spitz)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️スピッツ(Spitz)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>スピッツ（Spitz）は、草野マサムネ、三輪テツヤ、田村明浩、崎山龍男の四人から成る日本のロックバンド。1995年4月にリリースしたシングル「ロビンソン」が初のオリコンチャートTOP10入り、通算30週以上チャートにランクインするというロングセラーとなり、売り上げも162万枚の大ヒットとなる。7月のシングル「涙がキラリ☆」も初登場2位、98万枚のセールスとなり大ヒット。今も輝きを失わない日本を代表するロックバンドである。</p>
</div>
 <%= render 'form' %>