<% content_for :title do %>
Suchmos(サチモス)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Suchmos(サチモス)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Suchmos(サチモス)は、2016年1月に2nd E.P. LOVE&VICEがiTunes総合アルバムチャートで1位を獲得し波に乗るロックグループ。<br />メンバーはボーカル・YONCE、ベース・HSU、ドラム・OK、ギター・TAIKING、DJ・KCEE、鍵盤・TAIHEIの6人グループでみな神奈川県出身で地元の洗練された空気感と相まっている独特のチルアウト感と、爽やかで心地の良いジャズやソウルのテイストが人気の理由だ。<br />音源だけでないSuchmos(サチモス)のパフォーマンスは、瞬く間に音楽LOVERの心をとらえ、出演するLIVEは常にチケットは完売に。Suchmos(サチモス)は今最もチケットが取れない若手バンドである。</p>
</div>
 <%= render 'form' %>