<% content_for :title do %>
Suede(スウェード)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Suede(スウェード)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Suedeは1992年にシングルThe Drownersでデビューしたイギリスのバンドです。アメリカに同名のアーティストがおり訴訟を起こされたため、アメリカでは頭にThe Londonをつけて活動していました。過激な歌詞や独特な世界観で話題になった1stアルバムをリリース後、2ndのリリース前にギタリストのバーナード・バトラーが脱退し、新たにギタリストが加入してバンドは継続しました。2003年に突然の活動休止を発表しましたが、2010年にチャリティーライブで1夜だけということで再結成しました。しかし活動は続行され、ニューアルバムも発売し精力的に活動を続けています。</p>
</div>
 <%= render 'form' %>