<% content_for :title do %>
大相撲のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️大相撲のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本の国技、大相撲。最近は人気がないとか、日本人で強い力士がいないとか、最近マイナスな意見を多く耳にする。ところが、最近は急激にその人気に復活の兆しが見えてきた。<br />
  話題なのは何と言っても逸ノ城と遠藤だろう。新関脇の逸ノ城はモンゴル出身。モンゴルにいた頃は遊牧民であり、季節によって移住して過ごしていたという。<br />
  馬の乳を毎日2リットル飲んだことが192センチ、199キロの巨体のもとなのかもしれない。2014年9月場所で初土俵から5場所目での大関戦ならびに横綱戦勝利史上最速、また新入幕の力士が二人の大関と横綱を倒したのは史上初などの記録を打ち立て一躍日本中の人の知れるところとなった。モンゴル勢の勢いの中、新たな人気日本人力士として出てきたのは遠藤だろう。その端正なルックスとともにCMなどにも出演、もちろん実力も兼ね備えており、今後に大きな期待と活躍が寄せられている。</p>
</div>
<%= render 'form' %>