<% content_for :title do %>
SUTTON FOSTER(サットンフォスター)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️SUTTON FOSTER(サットンフォスター)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2011年にトニー賞のミュージカル主演女優賞を受賞した彼女の来日公演が決定！</p>
</div>
<%= render 'form' %>