<% content_for :title do %>
Tokyo 7th シスターズのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Tokyo 7th シスターズのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>アイドル育成とリズムアドベンチャーが混合された大人気ゲーム。作品の舞台は、西暦2034年の「アイドル氷河期と呼ばれる時代」。次世代アイドル劇場型スタジオ「スリーセブン（通称ナナスタ）」の二代目支配人となり、新たなアイドルを育て、プロデュースしていくことがこのゲームの目的である。<br />
   出演声優によるアイドル活動も平行して展開。2015年にはZepp Tokyoで、1st Live公演『Tokyo 7th シスターズ 1st Anniversary Live 15'→34'～H-A-J-I-M-A-L-I-V-E-!!～』を開催した。</p>
</div>
 <%= render 'form' %>