<% content_for :title do %>
THE SECOND from EXILE(ザ・セカンド)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️THE SECOND from EXILE(ザ・セカンド)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>二代目J Soul Brothersのメンバーとして活躍していたKENCHI、KEIJI、TETSUYA、NESMITH、SHOKICHIの5人で構成されている。初の単独ツアー「EXILE THE SECOND LIVE TOUR 2016-2017 "WILD WILD WARRIORS"」が2016年開催決定！</p>
</div>
<%= render 'form' %>