<% content_for :title do %>
高嶋 ちさ子のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️高嶋 ちさ子のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>高嶋ちさ子は日本を代表するヴァイオリニストの一人。６歳からヴァイオリンを始め、２５歳のとき、マイアミのオーケストラである、ニュー･ワールド・シンフォニーに入団。<br />翌年、チョコレートファッションというユニットでＣＤデビューし、その一年後にはソロデビューを果たしました。クラシックからポップス、映画音楽まで、ジャンルにとらわれず幅広い活動をしています。</p>
</div>
<%= render 'form' %>