<% content_for :title do %>
チームしゃちほこのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️チームしゃちほこのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>チームしゃちほこは、スターダストプロモーション所属の、名古屋在住の女性タレント6人で結成された女性アイドルグループである。略称はしゃちほこ。「ももいろクローバーZ」、「私立恵比寿中学」、 「たこやきレインボー」の姉妹グループ。メンバーは全員愛知県出身で名古屋在住の高校生（2015年現在）メンバー6名で構成されており、名古屋を拠点として活動している。</p>
</div>
<%= render 'form' %>