<% content_for :title do %>
テニミュ(テニスの王子様)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️テニミュ(テニスの王子様)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ミュージカル「テニスの王子様」とは、週刊少年ジャンプで連載されていた漫画「テニスの王子様」を舞台化したミュージカル。通称は「テニミュ」。2003年に始まり、スポーツもの、少年漫画の舞台化、男性陣のみのキャスト、と言う条件の作品は過去に類を見ず、制作側も手探りで作り上げていたが、現在では初演から100万人以上を動員する人気作品となっている。オーディションによって選出されるキャストは、この作品がデビュー作となる新人俳優も多く、「若手俳優の登竜門」とも呼ばれている。<br />
  2015年版では古田一紀が主役の越前リョーマ を演じ、過去には柳 浩太郎、遠藤雄弥、桜田 通、阪本奨悟、高橋龍輝、小越勇輝などが演じた。 2015年12月から2016年2月にかけては「3rdシーズン 青学(せいがく)vs山吹」が上演。TOKYO DOME CITY HALL、大阪メルパルクホール、日本特殊陶業市民会館、キャナルシティ劇場、多賀城市民会館の5会場を回る。 出演は古田一紀、財木琢磨、石田 隼、神里優希、本田礼生、田中涼星、滝川広大、眞嶋秀斗、佐奈宏紀、北川尚弥、森田桐矢、川上将大、辻 凌志朗、登野城佑真、仁科祐二など。
</p>
</div>
<%= render 'form' %>