<% content_for :title do %>
the HIATUS(ハイエイタス)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️the HIATUS(ハイエイタス)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>the HIATUS（ザ ハイエイタス）は、日本のオルタナティヴ・ロックバンド。活動を休止したELLEGARDENの細美武士が立ち上げたプロジェクトである。細美武士（ELLEGARDEN・活動休止中）が立ち上げたプロジェクトで、ライヴ活動を中心にフェスティバルなどにも積極的に参加し、活動中。メディアへの露出が極端に少ないことでも知られる。
作品ごとに楽曲の世界観が大きく異なるのが特徴である。2ndアルバムまでは、楽曲のほとんどを細美が手掛けていたが、3rdアルバムは主に細美、柏倉が中心となって作曲などの作業を行った。4thアルバムからは伊澤も作曲に参加。
ライブが始まる前の直前SEはJoey Beltramの「The Start It up」が用いられる。
「音楽やアート、表現者たちのプロジェクト」とあるように、イラストレーターの牧かほりやデザイナーのBALCOLONY.、映像ディレクターの松本空と番場秀一も名を連ねている。
</p>
</div>
<%= render 'form' %>