<% content_for :title do %>
T.M.Revolutionのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️T.M.Revolutionのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>西川貴教のソロプロジェクト。略称はT.M.R、TMなど。<br />
  近年では「Preserved Roses」「革命デュアリズム」で第55回日本レコード大賞企画賞を水樹奈々とともに受賞。水樹奈々とともに2年連続、5度目の紅白歌合戦出場。<br />
  ベストアルバム「2020 -T.M.Revolution ALL TIME BEST-」をリリース。3rdアルバム「triple joker」（1998年）、ベストアルバム「1000000000」（2006年）に続きオリコン1位を記録。1990年代から2010年代までの3つの年代で首位獲得を果たした。</p>
</div>
<%= render 'form' %>