<% content_for :title do %>
刀剣乱舞(とうらぶ)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️刀剣乱舞(とうらぶ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>刀剣乱舞とは、女性層を中心に大きな支持を受け全国に刀剣ブームを巻き起こしている、「艦隊これくしょん-艦これ-」でも有名なDMM.comが配信する名刀を擬人化した「刀剣男士」を収集・強化し、合戦場の敵を討伐していく刀剣育成シミュレーションゲームである。正式名称は「刀剣乱舞-ONLINE-」、公式での略称は「とうらぶ」。<br />天下五剣の一つであり、その中でもっとも美しいとされる「三日月宗近」や、「小狐丸」、織田信長の愛刀であった「へし切長谷部」、「鶴丸国永」など、日本の有名な名刀が数多く登場する。</p>
</div>
 <%= render 'form' %>