<% content_for :title do %>
徳永 英明のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️徳永 英明のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「壊れかけのRadio」、「LOVE IS ALL」、「レイニーブルー」など数々のヒット曲を持ち、カヴァーアルバムの「VOCALIST」シリーズでも評価が高い。
  ファンクラブは「TONY'S CLUB（トニーズクラブ）」。<br />
  声帯ポリープや難病もやもや病などを克服して、現在も精力的に音楽活動を続けている。</p>
</div>
 <%= render 'form' %>