<% content_for :title do %>
東京女子流のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️東京女子流のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>東京女子流は、日本のガールズ・ダンス&ボーカルグループである。所属事務所はエイベックス・マネジメント<br />
  基本フォーメーション：左から小西彩乃、山邊未夢、新井ひとみ、中江友梨、庄司芽生（小西在籍時代）<br />
  2016年5月台北・香港ワンマンライブ『No Fear presents TGS LIVE 2016 Supported by @JAM』を開催。
8月31日、シングル「深海」をリリース。
</p>
</div>
<%= render 'form' %>