<% content_for :title do %>
東京ヤクルトスワローズ戦のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️東京ヤクルトスワローズのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>東京ヤクルトスワローズは、1950年に「国鉄スワローズ」として創立し、1966年には「アトムズ」、1973年には「ヤクルトスワローズ」になり、2006年に「東京ヤクルトスワローズ」へと改名されました。リーグ優勝6回、日本一を5回経験している実力派のチームです。個人記録を持つ選手をたくさん輩出しており、1956年対広島カープ戦での宮地惟友、1957年対中日ドラゴンズ戦での金田正一、1961年対中日ドラゴンズ戦での森滝義巳によって、完全試合が達成されています。名球会しているメンバーも多く、通算2000本安打を達成した大杉勝男、若松勉、古田敦也、宮本慎也などが挙げられます。<br />チームマスコットとして、1994年にツバメの「つば九郎」、1999年に妹の「つばみ」、メキシコ出身の覆面レスラー「トルクーヤ」が登場しています。</p>
</div>
<%= render 'form' %>