<% content_for :title do %>
東レ パン パシフィック オープンテニスのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️東レ パン パシフィック オープンテニス2017のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>WTAツアー大会の1つで、日本最大規模の国際女子プロテニス大会として、30年以上の歴史を誇る「 東レ パン・パシフィック・オープン・テニストーナメント 」。世界の女子テニスのトップ・プレイヤーが出場する大会として、チケットは常に高い人気を集め、世界からも注目を集める本大会。</p>
</div>
<%= render 'form' %>