<% content_for :title do %>
特定商取引法に基づく表示 | あんしん・安全取引ならTicket Navi
<% end %>
<br />
<br />
<div class="textbox-2">
     <h1>特定商取引法に基づく表示</h1>
</div>
<br>
<div class="textbox-menu">

  <h2 class="sample2">事業者</h2><br>
  <h5>High&Lows合同会社<br></h5>
  <h2 class="sample2">代表者<br></h2>
  <h5>片方裕人<br></h5>
  <h2 class="sample2">ホームページ<br></h2>
  <h5>https://www//////////////.com/jp/<br></h5>
  <h2 class="sample2">メールアドレス<br></h2>
  <h5>ticket-navi.co.jp<br></h5>
  <h2 class="sample2">所在地<br></h2>
  <h5>〒////-//// 東京都//////////////////////////</h5><br>
  <h2 class="sample2">電話番号<br></h2>
//////////////////////<br>
お取引やサービスについてのお問い合わせは電話では受け付けておりません<br>
大変申し訳ありませんが、お問い合わせについては個人情報保護などのため,「お問い合わせ」フォームよりご連絡をいただき対応させていただいております。<br>ご不便をおかけいたしますが、ご理解ご協力をよろしくお願いいたします。<br>
  <h2 class="sample2">販売価格帯<br></h2>
各商品に表記された価格に準じます<br>
  <h2 class="sample2">商品等の引き渡し時期<br></h2>
入金確認後、1~7日程度で発送<br>
  <h2 class="sample2">代金の支払方法<br></h2>
クレジットカード、コンビニ払い、郵便局/銀行ATM払い、銀行振込<br>
  <h2 class="sample2">代金の支払時期<br></h2>
クレジットカードの場合は即日<br>
コンビニ払い、郵便局/銀行ATM払いの場合は30日以内<br>
  <h2 class="sample2">商品代金以外に必要な費用<br></h2>
  商品により配送費用<br>
  支払い方法により所定の手数料<br>
  <h2 class="sample2">返品・交換について<br></h2>
お客様都合による返品・交換は受け付けておりません<br>
天候や災害、事故、また主催者やアーティスト都合による中止や延期による返品・交換は受け付けておりません<br>
不良品については販売者への連絡対応を行ってください<br><br>

</div>
<br><br><br>