<% content_for :title do %>
辻井 伸行のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️辻井 伸行のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本を代表するピアニストの一人。生まれつきの全盲で、2歳ごろから音楽の才能を見せ始め、4歳からピアノの指導を受け始める。<br />1995年全日本盲学生音楽コンクールで第一位を受賞した時はわずか7歳だった。さらに2009年6月、アメリカ、テキサス州フォートワースで行われた「第13回 ヴァン・クライバーン国際ピアノ・コンクール」で日本人として初の優勝を果たした功績がある。<br />
  2011年7月に、瑛太主演のフジテレビ系木曜劇場「それでも、生きてゆく」の劇中音楽を担当、ドラマ音楽を初めて手がけた。<br />同年8月には櫻井翔主演の映画「神様のカルテ」のメインテーマ、挿入曲を担当。映画音楽を初めて手がけた。 2012年末の「第63回NHK紅白歌合戦」の特別企画「花は咲く」で、菅野よう子と共に演奏者として出演した。 2014年2月に発売された18thアルバム「高音質シリーズ3マイ・フェイバリット・ショパン｣はヒットチャート1位を獲得するなど好評を得る。</p>
</div>
<%= render 'form' %>