<% content_for :title do %>
U-FESのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️U-FESのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「U-FES.」とはYouTuberとそのファンが集い交流できるイベントである。そもそも「YouTuber」とはインターネット上の動画SNSである「YouTube」に歌ってみたや踊ってみた等「○○をやってみた」系、ゲームのプレイ画面に合わせ実況する「ゲーム実況中継」などを投稿者たちのこと。アップした動画に広告を入れ込むことにより運営するGoogleから広告収入を得ることが出来る仕組みととなっている。<br />
  2015年に初開催された「U-FES.」が「U-FES.TOUR2016・Meet&Greet」としてパワーアップ。動画を飛び出し直接人気Youtuberに会える機会はなかなかない。希少なチャンスを逃せない。</p>
</div>
 <%= render 'form' %>