<% content_for :title do %>
内田 彩のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️内田 彩のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>内田彩は、いまや日本を代表する女性声優です。元々アニメが好きで、声優を志したのは美少女戦士セーラームーンが好きだったからという理由です。<br />ピカチュウの声や、名探偵コナンでお馴染みの大谷育江を憧れの声優とし、彼女に憧れて努力してきた若手声優です。デビューした後は瞬く間に人気声優となり、現在は歌手としてＣＤデビューも行っています。現在の声優会において、ルックスの良さも人気の理由の一つになりますが、彼女自身はルックスも良く、女性らしい声とお酒が好きだというギャップのあるキャラの良さからファンも多いです。</p>
</div>
 <%= render 'form' %>