<% content_for :title do %>
上原 ひろみのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️上原 ひろみのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本のジャズピアニスト。静岡県浜松市出身でアメリカ合衆国在住。日本国外ではHiromiという名前で通している。<br />2007年（平成19年）9月1日にデザイナーの三原康裕と結婚した。<br />
  毎年、世界を舞台に約100日150公演のツアーを続けている。
日本人アーティストでは唯一となるニューヨーク・ブルーノートでの8年連続一週間公演を成功させている。<br />
2016年にはアルバムの『SPARK』が全米ビルボードのTraditional Jazz Albums部門で1位、またジャズ総合でも1位になった。ジャズ部門の総合１位は松居慶子以来２人目となった。
  </p>
</div>
 <%= render 'form' %>