<% content_for :title do %>
浦和レッズのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️浦和レッズのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本の埼玉県さいたま市をホームタウンとする、日本プロサッカーリーグ（Jリーグ）に加盟するプロサッカークラブ。呼称は浦和レッズ（うらわレッズ）である。<br />
  国内3大タイトル（J1リーグ、天皇杯、Jリーグカップ）の全てを獲得しているクラブの一つ。獲得タイトル数（日本国内外）はJリーグ全加盟クラブ中6位である。また、観客動員と営業収入はいずれもJリーグ加盟クラブで最多である。</p>
</div>
 <%= render 'form' %>