<% content_for :title do %>
内田 光子のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️内田 光子のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>内田光子(ウチダミツコ)は英国籍のピアニスト。福山賞受賞、2015年モーツァルト生誕259年記念モーツァルト・ゴールデン・メダル(金賞)授賞。<br />
  2012年には、ロイヤル・フィルハーモニック金メダル受賞、2011年グラミー賞最優秀インストゥルメンタル・ソリスト演奏者受賞と輝かしい受賞歴の持ち主。<br /> 1966年ミュンヘン国際音楽コンクール代の3位、1970年ショパンコンクールで第2位銀賞、1975年リーズ国際コンクールで第2位(1位なし)この他にも多数の国際コンクールでの受賞歴がある。<br /> 1971年に英国ウィグモア・ホールでの演奏会でロンドン・デビューをし、1972年に拠点を移しヨーロッパを中心に活動していた。</p>
</div>
 <%= render 'form' %>