<% content_for :title do %>
桂 歌丸のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️桂 歌丸のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>桂歌丸は、日本テレビの番組｢笑点｣でもお馴染みの落語家。現在は、社団法人落語芸術協会の5代目会長として落語界を牽引している。笑点では、長い間大喜利レギュラーとして活躍した後、放送開始50周年を迎え自ら勇退を決めるまでの10年もの間、5代目司会者としていつもお茶の間を楽しませてくれた。その活躍が讃えられ勇退後は番組初の終身名誉司会に就任することとなった。<br />
  また、地元横浜では横浜にぎわい座の2代目館長や横浜橋通商店街名誉顧問を務め、更には海外での公演も積極的に開催するなど落語を通しての地域貢献や世界に落語の面白さを広めてくれている。2011年には噺家生活60周年を迎えた。</p>
</div>
<%= render 'form' %>