<% content_for :title do %>
UVERworld(ウーバーワールド)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️UVERworld(ウーバーワールド)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>UVERworld（ウーバーワールド）は、滋賀県出身の日本の6人組ロックバンド。公式ファンクラブ名は「Neo SOUND WAVE」である。バンドのスタンスとして「ホールやアリーナ、ドームでライブを敢行した後でも、キャパシティ（収容能力）の小さいライブハウスでライブをする」という姿勢を取っている。事実、東京ドーム公演の前後にはライブハウスでのライブを行っている。デビュー以降、MUSIC STATIONにはjust Melodyで初出演して以降複数回出演するなど、TV出演も頻繁に行ってきたが、2012年に「THE OVER」で出演して以降は、一切テレビでの楽曲披露は行っていない。</p>
</div>
<%= render 'form' %>