<% content_for :title do %>
宝塚宙組 『バレンシアの熱い花』『HOT EYES!!』のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️宝塚宙組 『バレンシアの熱い花』『HOT EYES!!』のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「バレンシアの熱い花」は、宝塚歌劇が上演するミュージカル作品。脚本は柴田侑宏。1976年に榛名由梨を中心とした月組によって上演され好評を博し、2007年には大和悠河のトップお披露目公演として宙組で再演されている。<br />
  9年ぶりとなる2016年11月に主演朝夏まなととして全国ツアーで再演されることが決定した。併演は藤井大介 作・演出のダイナミックショー「HOT EYES!!」。男役としての深みを増してゆく朝夏まなとが「バレンシアの熱い花」をどのように演じるのか今から期待が高まっている。</p>
</div>
<%= render 'form' %>