<% content_for :title do %>
WEEZER(ウィーザー)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️WEEZER(ウィーザー)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>1992年に結成された、アメリカのロックバンド。メンバーはリヴァース・クオモ(Vo)、ブライアン・ベル(G)、スコット・シュライナー(Ba)、パトリック・ウィルソン(G)。以前はパトリックがドラムを叩いていたが、彼がギターに専念したため、2009年からはサポートメンバーとしてジョシュ・フリーズ(Dr、『ジョシュ・フリース』と表記される場合もある)が加わった。結成時からのオリジナルメンバーはリヴァースとパトリックの2人。 <br />18歳でロサンゼルスにやってきたリヴァースは、1992年にパトリックを含むメンバーたちと出会い『ウィーザー』を結成。『DGCレコード』と契約し、1994年に1stアルバム『ウィーザー(ブルー・アルバム)』でメジャーデビューを果たした。このアルバムは大ヒットし、グラミー賞などを受賞している。</p>
</div>
<%= render 'form' %>