<% content_for :title do %>
劇団四季「ウェストサイド物語」のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️劇団四季「ウェストサイド物語」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>劇団四季「ウェストサイド物語」とはアメリカで大ヒットをおさめたミュージカルで、劇団四季の手によって継続的に上演されているものです。アーサー・ローレンツ脚本によって生まれたこのウエストサイド物語は1957年に初演され、その同年ブロードウェイへ進出し、トニー賞最優秀振付賞を受賞しました。<br />
  その後のヨーロッパ進出を経て、世界各地で公演をされている人気の舞台で、日本で劇団四季によっての公演が始まったのは1974年からです。ストーリーとしては、二つの少年非行グループの抗争を背景に、若い男女による恋と死を描いたもので、1961年に映画化された「ウエスト・サイド物語」もアカデミー賞で作品賞などを受賞し、世界的に有名な作品です。劇団四季での公演は、オリジナルの演出・振付ジェームス・ロビンスによるものを、浅利慶太が演出し、振付の再現をジョーイ・マクニーリーが担当しています。</p>
</div>
 <%= render 'form' %>