<% content_for :title do %>
劇団四季「ウィキッド」のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️劇団四季「ウィキッド」のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>-誰も知らない、もう一つのオズの物語-
ウィキッド（Wicked）とは、西の悪い魔女・エルファバと南の良い魔女・グリンダの知られざる友情を描く、 世界中で3600万人が観たファンタジー超大作である。 ダイナミックに演出される舞台ときらびやかな衣裳は、見る者を魅了してやまない。 また、流れる曲ひとつひとつが名曲であり、2005年にグラミー賞を受賞。 ミュージカルアルバムとしてはプラチナ・セールスを記録した。</p>
</div>
<%= render 'form' %>