<% content_for :title do %>
ワールドオーケストラシリーズのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ワールドオーケストラシリーズ のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ワールド・オーケストラ・シリーズとは、交響曲であるオーケストラ関連のものとなっており、複数の有名なオーケストラ団体がコラボレーションするイベントになっています。 <br />
  参加する交響楽団に関しては毎年参加しているところもあれば不定期に参加している団体もあり、これまでにハンブルグ北ドイツ放送交響楽団・ロンドン交響楽団・ベルリンドイツ交響楽団など名だたる交響楽団が参加。非常にレベルの高いコンサートイベントとして知られています。 また、ワールド・オーケストラ・シリーズの特徴としては楽団だけではなくその楽団を率いる指揮者も注目を集めていると言うところであり、トーマス・ヘンゲルブロックやヤニック・ネゼ＝セガンなどそうそうたる指揮者が集まることによって質の高い音楽のコラボレーションを楽しめるようになっているところも魅力のひとつです。<br />中には日本人の演者も参加している楽団もあり、色々な観点で楽しめるイベントのひとつです。</p>
</div>
<%= render 'form' %>