<% content_for :title do %>
ワールドプレミアムボクシングのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ワールドプレミアムボクシングのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>『ワールドプレミアムボクシング』は、日本テレビが制作し、同局系列で放送されるボクシング世界戦中継番組。および報知新聞社が後援するボクシング世界戦興行の名称。副題は『The REAL』（ザ・リアル）。 第1回放送は2005年9月25日、横浜アリーナにて行われた長谷川穂積対ヘラルド・マルチネスと新井田豊対エリベルト・ゲホンのダブル世界戦であった。これ以降、日本テレビ系列地上波で中継される世界戦を『ワールドプレミアムボクシング』として放送している。<br /> 現在放送されるカードは、主に長谷川穂積、粟生隆寛、山中慎介の世界戦である。彼らの試合は生中継、もしくは収録放送（プライムタイムで1 - 2時間枠だが、稀に日曜昼の関東ローカル枠となる場合もある。また、単発特別番組枠（「モクスペ」「金曜スーパープライム」）が設置されていた期間にはその枠内で放送されていた）され、この『ワールドプレミアムボクシング』枠での放送となる。また、これらの試合は後日、G+にて『G+ダイナミック+』のタイトルでディレイ中継も行われている。</p>
</div>
<%= render 'form' %>