<% content_for :title do %>
ワールド・ピアニスト・シリーズのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ワールド・ピアニスト・シリーズ 2016のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「ワールド・ピアニスト・シリーズ」とは、世界で活躍するピアニストの演奏が楽しめる特別リサイタル。名前の通り世界各国から注目される若手から、数々の伝説を残してきた巨匠まで来日する貴重な機会である。2016年もショパン・コンクールで絶賛された優勝者マウリツィオ・ポリーニをはじめ、ユリアンナ・アヴデーエワ、イーヴォ・ポゴレリッチ、ユジャ・ワン、ファジル・サイ、アレクセイ・ヴォロディン、ラン・ランなど大物ピアニストが出演する予定だ。</p>
</div>
<%= render 'form' %>