<% content_for :title do %>
山下 智久(山P)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️山下 智久(山P)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>山下智久は、2011年アイドルグループNEWS脱退後、ソロとして活動中、俳優としても活躍しているNEWS時代も亀梨和也とユニットを組み、ソロ活動を積極的に行うなど活躍していたが、自身の力を試したいということでソロという選択をした山下智久。山P（やまぴー）の愛称で親しまれ、テレビドラマや映画、テレビコマーシャル、などで活躍しています。今では日本を代表するタレントの1人です。今後も歌手、俳優として活躍する山Pに注目していきたい。
</p>
</div>
<%= render 'form' %>