<% content_for :title do %>
山下 洋輔のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️山下 洋輔のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>山下洋輔は日本を代表するジャズピアニストでフリージャズムーブメントの一翼を担った一人。<br />
  中学生時代に兄の影響でジャズに傾倒していく。そしてジャズバンドを結成したのは高校1年生のとき、高校在学中にはすでにプロとして演奏活動を行っていた。1965年には富樫雅彦や武田和命らと活動し、日本でフリージャズをグループとして始めて演奏したと言われている。<br />
  翌1966年に山下洋輔トリオ結成。自由な発想からくるエネルギッシュな演奏で日本のジャズ界に非常に激しいインパクトを与えた。ジャズを知らない人でも彼のひじで鍵盤をかき鳴らす独自の奏法は一度は見たことがあるだろう。またシンフォニーオーケストラや和太鼓との共演、他アーティストの競演、活動の幅は無限の広がりを見せる。
  <br /></p>
</div>
<%= render 'form' %>