<% content_for :title do %>
八代 亜紀のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️八代 亜紀のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本の演歌歌手、女優、タレント、画家。本名、増田 明代（ますだ あきよ）[2]。旧姓、橋本。熊本県八代市出身。読みは異なるものの、芸名は出身地の八代（やつしろ）市から採っている。<br />
  1973年の「なみだ恋」が120万枚[4]の大ヒット。その後も「しのび恋」「愛ひとすじ」「おんなの夢」「ともしび」「花水仙」「もう一度逢いたい」「おんな港町」「愛の終着駅」他、女心を歌った歌で次々とヒット曲を連発。<br />
  1979年には新境地を開拓した初の男歌「舟唄」が大ヒットし、翌1980年に発表した「雨の慕情」で日本レコード大賞を受賞。これら2曲は「港町絶唱」と共に、阿久悠と浜圭介そして竜崎孝路のコンビによる「哀憐三部作」とされる。演歌歌手にしては稀な連続ヒットと国民的ヒット曲により、女性演歌歌手として不動の地位を築き、“演歌の女王”と称された。

  </p>
</div>
<%= render 'form' %>