<% content_for :title do %>
Yesのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Yesのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Yesはイギリスを代表するプログレッシブロックバンドです。1969年のファースト・アルバムでデビュー後、何度か活動停止を繰り返しながら現在も活動を続けています。高度な技術で洗練された美しい演奏と抽象的で難解な歌詞、そして先鋭的なコンセプトアルバムを生み出してきたことで知られています。<br />
  メンバーはクリス・スクワイア、ジョン・アンダーソン、ビル・ブルーフォード、リック・ウェイクマン、スティーブ・ハウらが中心です。1970年代にはプログレの名盤と呼ばれるアルバムを次々に発表し、一躍プログレッシブ・ロックの旗手に躍り出ました。特に「こわれもの(1971)」「危機(1971)」は、プログレファンのみならずロックファンであれば必聴の名盤とされています。</p>
</div>
 <%= render 'form' %>