<% content_for :title do %>
ヨーヨー・マのチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ヨーヨー・マのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ヨーヨー・マ はニューヨーク在住の中国系アメリカ人で、世界的チェリストとして各地で活躍を遂げています。父親はオーケストラの指揮者、母親は声楽家という音楽一家に生まれ、4歳からチェロを習い始めました。その才能の開花は目覚ましく、5歳の若さでパリでリサイタルを開き、7歳のときには大統領ジョン・F・ケネディの前で演奏も行っています。<br />
  彼のレパートリーは多岐に渡っており、クラシック音楽から現代音楽まで様々な曲を演奏します。その幅広さゆえに各ジャンルで活躍するアーティストと色々な形で共演を行っています。<br />また、2010年にはアメリカの大統領バラク・オバマからその演奏の腕前を評価され、世界的チェリストとして大統領自由勲章を授与されました。</p>
</div>
 <%= render 'form' %>