<% content_for :title do %>
横浜DeNAベイスターズ戦のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️横浜DeNAベイスターズのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>横浜DeNAベイスターズは、セントラルリーグに所属する日本のプロ野球球団です。2011年10月にＴＢＳホールディングスより球団譲渡され、2012年シーズンから歴史がスタートします。リーグ優勝・日本一の経験はありません（前身球団の歴史を含めるとリーグ優勝・日本一共に2回）。<br />
  2005年（横浜ベイスターズ時代）以降、Ａクラス入りがなくチーム成績が低迷していましたが、新球団発足以後は、それまで消極的だったＦＡ選手や大物外国人選手の獲得に乗り出したり、若手選手の育成・積極的な起用を行い確実にチーム力を上げており、野球ファンの注目を集めています。</p>
</div>
<%= render 'form' %>