<% content_for :title do %>
のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>よしもとクリエイティブエージェンシーは吉本興業グループの芸能プロダクションであり、2007年に吉本興業が持ち株会社制に移行した際に生まれた事業子会社である。お笑い芸人が一般的に「よしもと」という場合、この「よしもとクリエイティブエージェンシー」のことを指す。今触れたようによしもとと言えば「お笑い」が母体になっておりお笑いのイメージが強いが、よしもとクリエイティブエージェンシーにはお笑いタレント以外にも俳優・女優・映画監督など芸能に関する様々な人が所属している。四谷第五小学校の校舎を改装してよしもとクリエイティブエージェンシーの東京本部として利用するなど、枠にとらわれない大胆な活動を行っている。</p>
</div>
 <%= render 'form' %>