<% content_for :title do %>
ユニゾンスクエアガーデン(UNISON SQUARE GARDEN)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ユニゾンスクエアガーデン(UNISON SQUARE GARDEN)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>日本のスリーピースロックバンド。中野で結成し、全国各地で精力的にライブ活動を行っている。 略称は主に「ユニゾン」だが、アクセントが「ユ」に置かれるか「ニ」に置かれるかで違う。(本人たちは後者である。ボーカルの斎藤の透き通るような歌声が魅力。アニメとロック界で人気が出てきており、注目のグループです。最近、斎藤の喉にできたポリープの手術をするとの発表であり、ファンからは早期の復帰の声が上がっています。</p>
</div>
<%= render 'form' %>