<% content_for :title do %>
ゼインマリク(Zayn Malik)のチケット一覧 |チケット売買ならチケナビにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ゼインマリク(Zayn Malik)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ZAYN MALIK(ゼイン マリク)は、イングランド出身のアーティストだ。デビューの契機は、17歳でリアリティ音楽オーディション番組「The X Factor」に応募したことであった。<br />
  彼は後にONE DIRECTION(1D)となるグループとして審査を勝ち抜きデビューを果たす。その後はメンバーとして一世を風靡し、数々の世界的な記録を打ち立てた。そして2015年には1Dのメンバーから脱退することを表明し、ZAYNの名前でソロ活動を開始。シングル「ピロウトーク」では各国のチャートを制覇し、華々しいソロデビューを飾った。<br />2017年にはソロ初となる来日スペシャルライブが決定している！</p>
</div>
<%= render 'form' %>